@{
    ViewBag.Title = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--About Start-->
<div class="position-relative justify-content-center align-content-center align-items-center mx-auto show-desktop hide-mobile">
    <a target="_blank" title="[Top Banner] Nha Khoa Kim – Đối tác toàn cầu của Đại học Harvard" href="https://nhakhoakim.com/uu-dai-nieng-rang">
        <img width="1920" height="520" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Banner-uu-dai-nieng-rang-t5.24-pc.jpg" alt="[Top Banner Desktop] Nha Khoa Kim – Đối tác toàn cầu của Đại học Harvard" class="w-100 img-fluid" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Banner-uu-dai-nieng-rang-t5.24-pc.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
    </a>
</div>
<div class="container space-1">
    <div class="row">
        <!-- ====================== POST CONTENT ================= -->
        <div class="col-lg-12 col-sm-12 full-page col-xs-12" id="post-content">
            <h1 class="font-weight-normal h2 color-yellow-default z-post-title">Nha Khoa Kim – Đối tác toàn cầu của Đại học Harvard</h1>
            <!--div class="post-date"></div-->
            <div id="post-content-mdetail" class="post-content">
                <div class="bg-blue-default text-white p-3 sologan mb-3">
                    <p class="mb-0 text-black-50" style="text-align: justify;"><span class="text">Nha Khoa Kim là <strong>đối tác toàn cầu của ĐH Harvard,</strong> được <strong>chính phủ Singapore đầu tư tài chính</strong>, đạt chất lượng <strong>ISO 9001:2015 Vương Quốc Anh và GCR Hoa Kỳ</strong>, </span><span style="text-align: justify;">hoạt động dựa trên các tiêu chí của Tổ Chức Y tế Thế giới, Liên Đoàn Nha Khoa Thế Giới và sứ mệnh dẫn dắt sự thay đổi theo hướng tích cực với mục tiêu phát triển bền vững của Liên Hiệp Quốc.</span></p>
                </div>
                <p style="text-align: justify;">Nha Khoa Kim thành lập ngày 10 tháng 9 năm 2016, là thương hiệu độc quyền được bảo hộ trên toàn lãnh thổ Việt Nam. Được xây dựng khang trang, ứng dụng công nghệ hiện đại, hướng đến những người dân xa trung tâm thành phố vẫn không bị bỏ rơi, họ cũng có cơ hội hưởng được những dịch vụ nha khoa chuyên nghiệp, đúng chuẩn và hiện đại gần ngay nơi mình sinh sống.</p>
                <p><iframe src="//www.youtube.com/embed/Ubmd7b5RS5Y" width="560" height="314" allowfullscreen="allowfullscreen" style="width: 100%;" data-gtm-yt-inspected-8="true"></iframe></p>
                <p style="text-align: justify;"><strong>SỨ MỆNH</strong> Nha Khoa Kim: “Kiến tạo hệ sinh thái Nha Khoa cực kỳ đơn giản. Phụng sự con người nhanh nhất trên mọi miền đất nước”.&nbsp;</p>
                <p style="text-align: justify;"><strong>TẦM NHÌN</strong> Nha Khoa Kim đến năm 2025: “Là chuỗi phòng nha khoa  Việt Nam bởi sự phục vụ tận tâm, chuyên môn giỏi và thẩm mỹ cao bằng việc vận hành cực kỳ đơn giản với tinh thần phụng sự khách hàng.”</p>
                <p style="text-align: justify;"><strong>GIÁ TRỊ CỐT LÕI</strong> của mỗi thành viên Nha Khoa Kim chính là 5 giá trị y đức phải được thực hành và rèn luyện suốt đời bao gồm: <strong>Không gây hại; Trung thực; Tôn trọng quyền tự quyết; Làm tốt và Công bằng&nbsp;</strong></p>
                <p style="text-align: justify;"><strong>Ý NGHĨA LOGO </strong>Nha Khoa Kim được hình thành từ các viên kim cương sắp xếp hòa quyện nhau, thể hiện sự cứng chắc, sang trọng, tài sản giá trị và liên kết vững bền.</p>
                <p style="text-align: center;"><img fetchpriority="high" decoding="async" class="size-full wp-image-37941 aligncenter img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled.jpg" alt="" width="2560" height="672" data-src="https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled.jpg 2560w, https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled-768x202.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled-555x146.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled-20x5.jpg 20w" data-sizes="(max-width: 2560px) 100vw, 2560px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled.jpg 2560w, https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled-768x202.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled-555x146.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled-20x5.jpg 20w" sizes="(max-width: 2560px) 100vw, 2560px"><span style="font-size: 14px;"><em>Bác sĩ Nha Khoa Kim giỏi chuyên môn, điều trị nhẹ nhàng, chính xác, tận tâm, luôn cập nhật nhập kiến thức từ nền y tế tiến bộ thế giới</em></span></p>

                <h2><span class="ez-toc-section" id="Nha_Khoa_Kim_dat_nhieu_chung_nhan_quoc_te"></span><strong>Nha Khoa Kim đạt nhiều chứng nhận quốc tế</strong><span class="ez-toc-section-end"></span></h2>
                <h3 dir="auto">Nha khoa uy tín Thế giới theo Tổ chức Hoa Kỳ GCR</h3>
                <p style="text-align: justify;">GCR là chứng nhận chất lượng quốc tế chuyên về lĩnh vực y tế và chăm sóc sức khỏe. Nha Khoa Kim đã chứng minh được những giá trị mang tính hệ thống và những tiêu chí về trình độ và hoạt động chuyên môn, cơ sở vật chất, dịch vụ, kết quả điều trị, hệ thống quản lý chất lượng (QA) và các tiêu chuẩn về an toàn y khoa.</p>

                <p style="text-align: center;"><iframe src="//www.youtube.com/embed/AsCa-5OkpGs?feature=emb_logo" width="560" height="314" allowfullscreen="allowfullscreen" style="width: 100%;" data-gtm-yt-inspected-8="true"></iframe></p>
                <h3 dir="auto">Tiêu chuẩn quản lý chất lượng ISO 9001:2015 Anh Quốc</h3>
                <p>Nha Khoa Kim đạt được chứng nhận Tiêu chuẩn quản lý chất lượng ISO 9001:2015 Vương Quốc Anh cấp. Bộ tiêu chuẩn này là hệ thống quản lý khoa học, chặt chẽ với mục tiêu là nâng cao chất lượng, mang lại sự hài lòng cho khách hàng trên toàn hệ thống.</p>


                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Nha_khoa_ky_thuat_so_voi_trang_thiet_bi_may_moc_hien_dai"></span><strong>Nha khoa kỹ thuật số với trang thiết bị, máy móc hiện đại</strong><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;">Để tạo nền tảng kỹ thuật cao hỗ trợ chẩn đoán chính xác và tăng hiệu quả điều trị cho khách hàng, hệ thống Nha Khoa Kim đã nhập khẩu trực tiếp hàng trăm thiết bị, máy móc hiện đại từ những tập đoàn nha khoa uy tín trên thế giới, như: máy X Quang Cone Beam CT 3D, máy scan trong miệng iTero, Trios, Robot định vị X-Guide…</p>
                <p style="text-align: center;">
                    <img decoding="async" class="wp-image-4550 aligncenter img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-34.jpg" alt="" width="1100" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-34.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-34.jpg 1460w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-34-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-34-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-34-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-34.jpg 1460w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-34-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-34-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-34-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;">
                        <em>
                            Máy chụp CT Cone Beam 3D thế hệ mới, máy scan Trios 3, máy scan iTero giúp scan dấu răng chuyển sang Lab mà không cần lấy dấu bằng cao su;<br>
                        </em>
                    </span><span style="font-size: 14px;"><em>Robot định vị X-Guide cấy răng Implant an toàn, chính xác, tức thì; Hệ thống CAD/CAM và máy in mẫu 3D răng sứ, ghế nha cao cấp</em></span>
                </p>

                <p style="text-align: justify;">Máy chụp phim CT Cone Beam 3D giúp bác sĩ biết chính xác độ rộng, sâu của xương, cho thấy rõ mối tương quan giữa răng hàm dưới và dây thần kinh, tương quan giữa răng hàm trên và xoang hàm trên, có thể kiểm tra được những tổn thương sâu bên trong. Từ đó, bác sĩ sẽ đưa ra phương pháp điều trị phù hợp.</p>
                <p style="text-align: justify;"><span style="font-weight: 400;">iTero và Trios (hay còn gọi là máy scan trong miệng) là những loại máy tiên tiến bậc nhất thế giới về việc lấy dấu theo công nghệ kỹ thuật số hiện đại với những ưu điểm vượt trội:</span></p>
                <ul>
                    <li style="font-weight: 400; text-align: justify;" aria-level="1">Lấy dấu nhanh<span style="font-weight: 400;">: Máy scan trong miệng lấy dấu chi tiết dữ liệu trong miệng khách hàng (răng, mô mềm và khớp cắn) chỉ trong 60s sẽ mang lại cho khách hàng trải nghiệm thoải mái hơn so với lấy dấu răng truyền thống, khách hàng không phải khó chịu vì mùi của vật liệu, kích thước khay lấy dấu cồng kềnh…</span></li>
                    <li style="font-weight: 400; text-align: justify;" aria-level="1">Biết trước kết quả điều trị<span style="font-weight: 400;">: Sau khi lấy dấu răng thành công, dữ liệu từ máy scan trong miệng sẽ được chuyển sang phần mềm ClinCheck mô phỏng kế hoạch điều trị và giúp khách hàng hình dung rõ hơn về tiến trình, kết quả điều trị và có thể chủ động trao đổi điều chỉnh kế hoạch điều trị theo mong muốn.</span></li>
                    <li style="font-weight: 400; text-align: justify;" aria-level="1">Thời gian điều trị nhanh chóng<span style="font-weight: 400;">: Sau khi lấy dấu, có kết quả và kế hoạch điều trị phù hợp, thời gian bắt đầu tiến hành điều trị chỉ trong khoảng 1 tuần thay vì 2 – 3 tuần so với phương pháp lấy dấu truyền thống (không cần sử dụng vật liệu lấy dấu, chờ đợi chất lấy dấu khô…)</span></li>
                    <li style="font-weight: 400; text-align: justify;" aria-level="1">Chính xác cao<span style="font-weight: 400;">: Độ ổn định tốt giúp máy scan trong miệng bắt hình chính xác, giảm thiểu sai số, đặc biệt ở những vùng lẹm và vùng răng cửa của bệnh nhân. Nhờ đó, giúp cho việc chế tạo khay niềng vừa vặn, phù hợp trong từng giai đoạn chạy răng, nâng cao hiệu quả điều trị; việc phục hình răng sứ khít sát với răng thật, hạn chế nước bọt và vi khuẩn xâm nhập vào bên trong răng sứ, tăng độ bền răng sứ…</span></li>
                </ul>

                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Nha_Khoa_Kim_lay_nguoi_tai_lam_hat_nhan"></span><strong>Nha Khoa Kim lấy người tài làm hạt nhân</strong><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;">Chuyển giao và hội nhập toàn cầu, tìm kiếm người tài nhằm góp phần nâng vị thế ngành nha Việt Nam trong khu vực với bác sĩ chuyên môn trẻ, giỏi, ứng dụng công nghệ mới, hợp tác Quốc tế và trong nước, đạt nhiều giải thưởng trong nước và quốc tế.</p>
                <p style="text-align: justify;">Nha Khoa Kim có đầy đủ năng lực cả về chuyên môn, máy móc, thiết bị, cơ sở vật chất để đảm nhiệm thực hiện nhiều dịch vụ nha khoa chất lượng cao. Khách hàng, bệnh nhân đến với Nha Khoa Kim có thể lựa chọn nhiều dịch vụ nha khoa từ cấy ghép răng implant, chỉnh nha, niềng răng, răng sứ thẩm mỹ theo tình trạng răng miệng và nhu cầu của từng người.</p>
                <p style="text-align: justify;">Nha Khoa Kim cũng là đối tác được Vingroup mời vận hành toàn bộ hệ thống nha khoa của Bệnh viện Vinmec&nbsp;</p>
                <p style="text-align: left;">Nha Khoa Kim cũng là đối tác tin cậy của Invisalign niềng răng không mắc cài công nghệ Hoa Kỳ</p>
                <div id="attachment_54340" style="width: 1100px" class="wp-caption alignnone"><img decoding="async" aria-describedby="caption-attachment-54340" class="wp-image-54340 size-full img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/03/Thumbwebsite-Invis-01.jpg" alt="Danh hiệu Black diamond invisalign tại buổi vinh danh Nha Khoa Kim do Invisalign Hoa Kỳ tổ chức" width="2500" height="1308" data-src="https://nhakhoakim.com/wp-content/uploads/2024/03/Thumbwebsite-Invis-01.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2024/03/Thumbwebsite-Invis-01.jpg 2500w, https://nhakhoakim.com/wp-content/uploads/2024/03/Thumbwebsite-Invis-01-768x402.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2024/03/Thumbwebsite-Invis-01-555x290.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2024/03/Thumbwebsite-Invis-01-20x10.jpg 20w" data-sizes="(max-width: 2500px) 100vw, 2500px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2024/03/Thumbwebsite-Invis-01.jpg 2500w, https://nhakhoakim.com/wp-content/uploads/2024/03/Thumbwebsite-Invis-01-768x402.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2024/03/Thumbwebsite-Invis-01-555x290.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2024/03/Thumbwebsite-Invis-01-20x10.jpg 20w" sizes="(max-width: 2500px) 100vw, 2500px"><p id="caption-attachment-54340" class="wp-caption-text">Danh hiệu Black diamond invisalign tại buổi vinh danh Nha Khoa Kim do Invisalign Hoa Kỳ tổ chức</p></div>

                <p style="text-align: justify;">Nha Khoa Kim quy tụ đội ngũ bác sĩ trình độ chuyên môn giỏi, phải sử dụng được công nghệ mới trong điều trị, tốt nghiệp răng hàm mặt trong và ngoài nước, đã từng học tập cũng như tu nghiệp nhiều năm tại các nước có nền nha khoa phát triển trên thế giới. Với kiến thức chuyên môn vững vàng cùng đôi bàn tay khéo léo, tận tâm với nghề, luôn áp dụng theo quy trình chuẩn, các bác sĩ luôn mang đến kết quả tốt cho khách hàng.</p>
                <p style="text-align: justify;">Hợp tác với các bác sĩ trường Đại học Hàn Quốc, Canada, Mỹ về đào tạo chuyên môn cho các bác sĩ Việt Nam nói riêng và một số nước khác, từng bước thay đổi cách nhìn về chuyên môn của Việt Nam trên trường quốc tế.</p>
                <p style="text-align: center;"><img decoding="async" class="wp-image-46419 aligncenter img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2016/11/nha-khoa-kim-la-doi-tac-cua-dai-hoc-Harvard-7-scaled.jpg" alt="" width="1100" height="425" data-src="https://nhakhoakim.com/wp-content/uploads/2016/11/nha-khoa-kim-la-doi-tac-cua-dai-hoc-Harvard-7-scaled.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2016/11/nha-khoa-kim-la-doi-tac-cua-dai-hoc-Harvard-7-scaled.jpg 2560w, https://nhakhoakim.com/wp-content/uploads/2016/11/nha-khoa-kim-la-doi-tac-cua-dai-hoc-Harvard-7-scaled-768x467.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2016/11/nha-khoa-kim-la-doi-tac-cua-dai-hoc-Harvard-7-scaled-555x337.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2016/11/nha-khoa-kim-la-doi-tac-cua-dai-hoc-Harvard-7-scaled-20x12.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2016/11/nha-khoa-kim-la-doi-tac-cua-dai-hoc-Harvard-7-scaled.jpg 2560w, https://nhakhoakim.com/wp-content/uploads/2016/11/nha-khoa-kim-la-doi-tac-cua-dai-hoc-Harvard-7-scaled-768x467.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2016/11/nha-khoa-kim-la-doi-tac-cua-dai-hoc-Harvard-7-scaled-555x337.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2016/11/nha-khoa-kim-la-doi-tac-cua-dai-hoc-Harvard-7-scaled-20x12.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Các thành viên Harvard Business School đến từ các quốc gia Mỹ, Úc, Pháp, Colombia, Brazil, Bulgaria cùng với các thành viên Nha Khoa Kim và các thành viên của quỹ đầu tư chính phủ Singapore, quỹ đầu tư tư nhân Singapore, Úc</em></span></p>

                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Da_dang_dich_vu_nha_khoa_voi_chi_phi_hop_ly_va_chinh_sach_bao_hanh_ro_rang"></span><strong>Đa đạng dịch vụ nha khoa với chi phí hợp lý và chính sách bảo hành rõ ràng</strong><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;">Nha Khoa Kim thực hiện thường quy và quy chuẩn các dịch vụ nha khoa, điều trị, phục hình và thẩm mỹ răng hàm mặt hiện đại trên thế giới như: <a href="https://nhakhoakim.com/trong-rang-implant.html">cấy ghép implant</a>, <a href="https://nhakhoakim.com/nieng-rang-tham-my-cho-nu-cuoi-dep-hoan-hao.html">niềng răng,</a>&nbsp;<a href="https://nhakhoakim.com/boc-rang-su-tham-my.html">bọc răng sứ thẩm mỹ</a>, nha khoa trẻ em… giúp chăm sóc sức khỏe răng miệng cho khách hàng trong cũng như ngoài nước.</p>
                <p style="text-align: justify;">Tại Nha Khoa Kim, các dịch vụ nha khoa đều được áp dụng theo quy trình chuẩn, tuân thủ nghiêm ngặt các quy định của cơ quan y tế từ khâu thăm khám, tư vấn, chụp phim, đến điều trị. Nhờ đó, những bệnh lý, vấn đề của khách hàng sẽ được giải quyết nhanh, tốt, chuyên nghiệp, tạo sự hài lòng cao về chất chất lượng dịch vụ.</p>
                <h2><span class="ez-toc-section" id="Tac_dong_tich_cuc_cua_Nha_Khoa_Kim_duoc_to_chuc_tai_chinh_thuoc_chinh_phu_Singapore_phong_van"></span>Tác động tích cực của Nha Khoa Kim được tổ chức tài chính thuộc chính phủ Singapore phỏng vấn<span class="ez-toc-section-end"></span></h2>
                <p><iframe src="//www.youtube.com/embed/P6nn4lcqOho" width="560" height="314" allowfullscreen="allowfullscreen" style="width: 100%;" data-gtm-yt-inspected-8="true"></iframe></p>
                <div class="bg-blue-default text-white p-3 sologan mb-3">
                    <p style="color:black" class="text-justify text-sologan">
                        Mỗi phòng khám thuộc hệ thống Nha Khoa Kim được Sở Y tế các tỉnh thành thẩm định các danh mục kỹ thuật khác nhau.
                        Quý khách sẽ được thực hiện các dịch vụ theo đúng những danh mục kỹ thuật mà Sở Y tế cho phép.
                        Những danh mục khác sẽ được thực hiện tại bệnh viện.
                    </p>
                </div>


            </div>
        </div>

        <!-- ====================== SIDEBAR ====================== -->
    </div>
</div>





<!--About End-->