@{
    ViewBag.Title = "Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="w-100">
        <article class="col-md-12 col-sm-6 col-lg-12 transition-3d-hover col-sm-12 mb-5 bg-light">
            <div class="row p-0">
                <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                    <img class="img-fluid" width="555" height="290" src="https://nhakhoakim.com/wp-content/uploads/2024/05/NKK_thumbweb_khai-truong-pk-01-update-555x290.jpg" alt="Nha Khoa Kim chuẩn bị khai trương hàng loạt phòng khám mới" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/NKK_thumbweb_khai-truong-pk-01-update-555x290.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                    <div class="py-2 px-4">
                        <a class="h5 color-yellow-default text-justify" href="https://nhakhoakim.com/nha-khoa-kim-chuan-bi-khai-truong-hang-loat-phong-kham-moi.html" title="Nha Khoa Kim chuẩn bị khai trương hàng loạt phòng khám mới">Nha Khoa Kim chuẩn bị khai trương hàng loạt phòng khám mới</a>
                        <div class="short-description text-justify">Giữa bối cảnh Sở Y Tế thanh tra các phòng khám Răng Hàm Mặt nhằm chấn chỉnh hoạt động đúng pháp lý, đúng tiêu chuẩn, có rất nhiều phòng khám nha khoa trên địa bàn TP.HCM đã đóng cửa, tạm ngưng hoạt động. Thế nhưng, đây chính là giai đoạn khẳng định Nha Khoa Kim là một trong số rất ít hệ thống nha khoa thực hiện đúng tiêu chuẩn, đúng quy định từ việc tuyển dụng đội ngũ bác...</div>
                    </div>
                    <div class="py-2 px-4">
                        <a class="btn btn-xs btn-primary transition-3d-hover btn-blue-default border-0 br-0" title="Nha Khoa Kim chuẩn bị khai trương hàng loạt phòng khám mới" href="https://nhakhoakim.com/nha-khoa-kim-chuan-bi-khai-truong-hang-loat-phong-kham-moi.html">Đọc thêm <span class="fas fa-angle-right ml-2"></span></a>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="w-100">
        <div class="row">
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Niềng răng công nghệ hiện đại với ưu đãi hấp dẫn hè này" href="https://nhakhoakim.com/nieng-rang-cong-nghe-hien-dai-voi-uu-dai-hap-dan-he-nay.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/ThumbWeb-1200x628-KV-T5-01-555x312.jpg" alt="Niềng răng công nghệ hiện đại với ưu đãi hấp dẫn hè này" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/ThumbWeb-1200x628-KV-T5-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Niềng răng công nghệ hiện đại với ưu đãi hấp dẫn hè này</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Hành trình Răng hạnh phúc Nha Khoa Kim trở lại, tiếp tục sứ mệnh nâng cao ý thức chăm sóc răng miệng cộng đồng" href="https://nhakhoakim.com/hanh-trinh-rang-hanh-phuc-nha-khoa-kim-tro-lai.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/04/nkk_web-dental-tour-01-555x312.jpg" alt="Hành trình Răng hạnh phúc Nha Khoa Kim trở lại, tiếp tục sứ mệnh nâng cao ý thức chăm sóc răng miệng cộng đồng" data-src="https://nhakhoakim.com/wp-content/uploads/2024/04/nkk_web-dental-tour-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Hành trình Răng hạnh phúc Nha Khoa Kim trở lại, tiếp tục sứ mệnh nâng cao ý thức chăm sóc răng miệng cộng đồng</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Thông báo nghỉ Lễ 30/4 &amp; 1/5" href="https://nhakhoakim.com/thong-bao-nghi-le-30-4-1-5.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/04/NKK_ThumbWeb-1200x628-le-30-4-01-555x312.jpg" alt="Thông báo nghỉ Lễ 30/4 &amp; 1/5" data-src="https://nhakhoakim.com/wp-content/uploads/2024/04/NKK_ThumbWeb-1200x628-le-30-4-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Thông báo nghỉ Lễ 30/4 &amp; 1/5</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Thông báo nghỉ lễ Giỗ Tổ Hùng Vương" href="https://nhakhoakim.com/thong-bao-nghi-le-gio-to-hung-vuong.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/04/NKK_ThumbWeb-1200x628-gio-to-01a-555x312.jpg" alt="Thông báo nghỉ lễ Giỗ Tổ Hùng Vương" data-src="https://nhakhoakim.com/wp-content/uploads/2024/04/NKK_ThumbWeb-1200x628-gio-to-01a-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Thông báo nghỉ lễ Giỗ Tổ Hùng Vương</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Labo A&amp;B tiếp nhận chuyển giao công nghệ BioHPP- Visio.lign từ Đức" href="https://nhakhoakim.com/labo-ab-tiep-nhan-chuyen-giao-cong-nghe-biohpp-visio-lign-tu-duc.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/04/NKK_labo-nhan-chuyen-giao-web-01-555x312.jpg" alt="Labo A&amp;B tiếp nhận chuyển giao công nghệ BioHPP- Visio.lign từ Đức" data-src="https://nhakhoakim.com/wp-content/uploads/2024/04/NKK_labo-nhan-chuyen-giao-web-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Labo A&amp;B tiếp nhận chuyển giao công nghệ BioHPP- Visio.lign từ Đức</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng" href="https://nhakhoakim.com/chinh-thuc-ra-mat-zalo-app-nha-khoa-kim-voi-nhieu-tien-ich-cho-khach-hang.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/04/ThumbWeb-1200x628-ZaloApp-01-555x312.jpg" alt="Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng" data-src="https://nhakhoakim.com/wp-content/uploads/2024/04/ThumbWeb-1200x628-ZaloApp-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Quy trình tiệt trùng tại hệ thống Nha Khoa Kim như thế nào?" href="https://nhakhoakim.com/quy-trinh-tiet-trung-tai-he-thong-nha-khoa-kim-nhu-the-nao.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/03/NKK_web-phong-thanh-trung-07-1-555x312.jpg" alt="Quy trình tiệt trùng tại hệ thống Nha Khoa Kim như thế nào?" data-src="https://nhakhoakim.com/wp-content/uploads/2024/03/NKK_web-phong-thanh-trung-07-1-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Quy trình tiệt trùng tại hệ thống Nha Khoa Kim như thế nào?</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Nha Khoa Kim được vinh danh tại Align Southeast Asia Forum 2024" href="https://nhakhoakim.com/nha-khoa-kim-duoc-vinh-danh-tai-align-southeast-asia-forum-2024.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/03/NKK_hinh-web-nhan-bang-invi-01-1-555x312.jpg" alt="Nha Khoa Kim được vinh danh tại Align Southeast Asia Forum 2024" data-src="https://nhakhoakim.com/wp-content/uploads/2024/03/NKK_hinh-web-nhan-bang-invi-01-1-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Nha Khoa Kim được vinh danh tại Align Southeast Asia Forum 2024</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Chào đón tháng Sức khỏe răng miệng Thế giới" href="https://nhakhoakim.com/chao-don-thang-suc-khoe-rang-mieng-the-gioi.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/03/ThumbWeb-1200x628-KVT3-01-KKM-555x312.jpg" alt="Chào đón tháng Sức khỏe răng miệng Thế giới" data-src="https://nhakhoakim.com/wp-content/uploads/2024/03/ThumbWeb-1200x628-KVT3-01-KKM-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Chào đón tháng Sức khỏe răng miệng Thế giới</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Phòng tiệt khuẩn một chiều với 4 test kiểm định và nhân sự chuyên trách tại Nha Khoa Kim" href="https://nhakhoakim.com/tiet-trung-trung-tam-1-chieu-voi-4-test-kiem-dinh-va-nhan-su-chuyen-trach-tai-nha-khoa-kim.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/03/Thumb-Phong-tiet-khuan-02-scaled-555x312.jpg" alt="Phòng tiệt khuẩn một chiều với 4 test kiểm định và nhân sự chuyên trách tại Nha Khoa Kim" data-src="https://nhakhoakim.com/wp-content/uploads/2024/03/Thumb-Phong-tiet-khuan-02-scaled-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Phòng tiệt khuẩn một chiều với 4 test kiểm định và nhân sự chuyên trách tại Nha Khoa Kim</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Nha Khoa Kim mừng Ngày Thầy thuốc Việt Nam" href="https://nhakhoakim.com/nha-khoa-kim-mung-ngay-thay-thuoc-viet-nam.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/02/NKK_hinh-web-tang-qua-bs-27-2-01-555x312.jpg" alt="Nha Khoa Kim mừng Ngày Thầy thuốc Việt Nam" data-src="https://nhakhoakim.com/wp-content/uploads/2024/02/NKK_hinh-web-tang-qua-bs-27-2-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Nha Khoa Kim mừng Ngày Thầy thuốc Việt Nam</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ" href="https://nhakhoakim.com/nha-khoa-kim-voi-doi-tac-tin-cay-invisalign-hoa-ky-va-implant-straumann-thuy-sy.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/01/NKK_THUMB-DOI-TAC-TIN-CAY-01-555x312.jpg" alt="Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ" data-src="https://nhakhoakim.com/wp-content/uploads/2024/01/NKK_THUMB-DOI-TAC-TIN-CAY-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Thông báo lịch nghỉ Tết Giáp Thìn 2024" href="https://nhakhoakim.com/thong-bao-lich-nghi-tet-giap-thin-2024.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/01/NKK_THONG-BAO-tet-Giap-Thin-2024-02-scaled-555x312.jpg" alt="Thông báo lịch nghỉ Tết Giáp Thìn 2024" data-src="https://nhakhoakim.com/wp-content/uploads/2024/01/NKK_THONG-BAO-tet-Giap-Thin-2024-02-scaled-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Thông báo lịch nghỉ Tết Giáp Thìn 2024</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Hành trình răng hạnh phúc 2023 – Chuyến xe lan tỏa sứ mệnh phụng sự cộng đồng" href="https://nhakhoakim.com/hanh-trinh-rang-hanh-phuc-2023-chuyen-xe-lan-toa-su-menh-phung-su-cong-dong.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2023/12/dental-tour-hanh-trinh-rang-hanh-phuc-Nha-Khoa-Kim-3-scaled-e1703735992455-555x312.jpg" alt="Hành trình răng hạnh phúc 2023 – Chuyến xe lan tỏa sứ mệnh phụng sự cộng đồng" data-src="https://nhakhoakim.com/wp-content/uploads/2023/12/dental-tour-hanh-trinh-rang-hanh-phuc-Nha-Khoa-Kim-3-scaled-e1703735992455-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Hành trình răng hạnh phúc 2023 – Chuyến xe lan tỏa sứ mệnh phụng sự cộng đồng</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Đội ngũ bác sĩ trẻ Nha Khoa Kim nhận chứng chỉ Cấy ghép nha khoa – Chỉnh hình răng mặt cơ bản" href="https://nhakhoakim.com/doi-ngu-bac-si-tre-nha-khoa-kim-nhan-chung-chi-cay-ghep-nha-khoa-chinh-hinh-rang-mat-co-ban.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2023/12/NKK_hinh-trao-chung-chi-30-11-07-scaled-555x312.jpg" alt="Đội ngũ bác sĩ trẻ Nha Khoa Kim nhận chứng chỉ Cấy ghép nha khoa – Chỉnh hình răng mặt cơ bản" data-src="https://nhakhoakim.com/wp-content/uploads/2023/12/NKK_hinh-trao-chung-chi-30-11-07-scaled-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Đội ngũ bác sĩ trẻ Nha Khoa Kim nhận chứng chỉ Cấy ghép nha khoa – Chỉnh hình răng mặt cơ bản</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Quy trình làm răng sứ Cera GenX SP 8 tiếng trong ngày tại Nha Khoa Kim" href="https://nhakhoakim.com/quy-trinh-lam-rang-su-vk-8-tieng-trong-ngay-tai-nha-khoa-kim.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2023/07/NKK_WEB-6-7-03-e1697965342352-555x312.jpg" alt="Quy trình làm răng sứ Cera GenX SP 8 tiếng trong ngày tại Nha Khoa Kim" data-src="https://nhakhoakim.com/wp-content/uploads/2023/07/NKK_WEB-6-7-03-e1697965342352-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Quy trình làm răng sứ Cera GenX SP 8 tiếng trong ngày tại Nha Khoa Kim</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        @*<div class="row">
            <div class="w-100 space-2 d-flex justify-content-between align-items-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination mb-0">
                        <li class="page-item active"><a aria-current="page" class="page-link br-0 text-white">1</a></li>
                        <li class="page-item"><a class="page-link color-red-default br-0" href="?paged=2">2</a></li>
                        <li class="page-item"><a class="page-link color-red-default br-0" href="?paged=3">3</a></li>
                        <li class="page-item"><a class="page-link br-0" href="">…</a></li>
                        <li class="page-item"><a class="page-link color-red-default br-0" href="?paged=10">10</a></li>
                        <li class="page-item"><a class="page-link br-0" href="?paged=2"><span aria-hidden="true"> »</span></a></li>
                    </ul>
                </nav><small class="d-none d-sm-inline-block text-secondary color-red-default">Hiển thị trang 1 trên 10 trang</small>
            </div>
        </div>*@
    </div>
</div>