@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="w-100">
        <article class="col-md-12 col-sm-6 col-lg-12 transition-3d-hover col-sm-12 mb-5 bg-light">
            <div class="row p-0">
                <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                    <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/YoutubeShort-FN-kim-an-02.jpg" alt="[Short] Khách hàng Kim An" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/YoutubeShort-FN-kim-an-02.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                    <div class="py-2 px-4">
                        <a class="h5 color-yellow-default text-justify" href="https://nhakhoakim.com/short-khach-hang-kim-an.html" title="[Short] Khách hàng Kim An">[Short] Khách hàng Kim An</a>
                        <div class="short-description text-justify">Bất ngờ trước sự chuyên nghiệp của bác sĩ Nha Khoa Kim, khi lên kế hoạch niềng răng chi tiết ngay trong buổi thăm khám đầu tiên, Kim An đã quyết định niềng răng ngay. Và điều mà anh chàng nhận lại là thành quả vô cùng xứng đáng sau hành trình niềng răng với sự đồng hành của Nha Khoa Kim. Đặc biệt, từ ngày 17/5-9/6 Nha Khoa Kim đang có chương trình ưu đãi 20% dành riêng cho...</div>
                    </div>
                    <div class="py-2 px-4">
                        <a class="btn btn-xs btn-primary transition-3d-hover btn-blue-default border-0 br-0" title="read more" href="https://nhakhoakim.com/short-khach-hang-kim-an.html">Đọc thêm <span class="fas fa-angle-right ml-2"></span></a>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="w-100">
        <div class="row">
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="[Short] Khách hàng Thanh Nhựt" href="https://nhakhoakim.com/short-khach-hang-thanh-nhut.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/YoutubeShort-FN-thanh-nhut-03-555x312.jpg" alt="[Short] Khách hàng Thanh Nhựt" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/YoutubeShort-FN-thanh-nhut-03-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">[Short] Khách hàng Thanh Nhựt</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Khoang miệng là gì? Cấu tạo và chức năng của khoang miệng" href="https://nhakhoakim.com/khoang-mieng-la-gi.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Khoang-mieng-555x312.jpg" alt="Khoang miệng là gì? Cấu tạo và chức năng của khoang miệng" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Khoang-mieng-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Khoang miệng là gì? Cấu tạo và chức năng của khoang miệng</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Trẻ Bị Sâu Răng Hàm Có Mọc Lại Không? Vì Sao?" href="https://nhakhoakim.com/tre-bi-sau-rang-ham-co-moc-lai-khong.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Tre-bi-sau-rang-ham-co-moc-lai-khong-555x312.jpg" alt="Trẻ Bị Sâu Răng Hàm Có Mọc Lại Không? Vì Sao?" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Tre-bi-sau-rang-ham-co-moc-lai-khong-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Trẻ Bị Sâu Răng Hàm Có Mọc Lại Không? Vì Sao?</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Trồng răng implant all on 4 khi nào? Giá bao nhiêu?" href="https://nhakhoakim.com/trong-rang-implant-all-on-4.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Trong-rang-implant-all-on-4-555x312.jpg" alt="Trồng răng implant all on 4 khi nào? Giá bao nhiêu?" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Trong-rang-implant-all-on-4-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Trồng răng implant all on 4 khi nào? Giá bao nhiêu?</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Sâu răng là gì? Nguyên nhân, dấu hiệu và cách điều trị" href="https://nhakhoakim.com/sau-rang-la-gi.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Sau-rang-555x312.jpg" alt="Sâu răng là gì? Nguyên nhân, dấu hiệu và cách điều trị" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Sau-rang-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Sâu răng là gì? Nguyên nhân, dấu hiệu và cách điều trị</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Thay Đổi Nụ Cười, Tự Tin Hơn Trước Mọi Người" href="https://nhakhoakim.com/thay-doi-nu-cuoi-tu-tin-hon-truoc-moi-nguoi.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Thumb-KHnieng-thanhnhien-01-555x312.jpg" alt="Thay Đổi Nụ Cười, Tự Tin Hơn Trước Mọi Người" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Thumb-KHnieng-thanhnhien-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Thay Đổi Nụ Cười, Tự Tin Hơn Trước Mọi Người</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Niềng Răng Đã Thay Đổi Cô Nàng Gen Z Như Thế Nào?" href="https://nhakhoakim.com/nieng-rang-da-thay-doi-co-nang-gen-z-nhu-the-nao.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Thumb-KHnieng-huu-duyen-01-555x312.jpg" alt="Niềng Răng Đã Thay Đổi Cô Nàng Gen Z Như Thế Nào?" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Thumb-KHnieng-huu-duyen-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Niềng Răng Đã Thay Đổi Cô Nàng Gen Z Như Thế Nào?</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Xịt chống sâu răng cho bé có tốt không? Nên dùng loại nào" href="https://nhakhoakim.com/xit-chong-sau-rang-cho-be.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Xit-chong-sau-rang-cho-be-555x312.jpg" alt="Xịt chống sâu răng cho bé có tốt không? Nên dùng loại nào" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Xit-chong-sau-rang-cho-be-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Xịt chống sâu răng cho bé có tốt không? Nên dùng loại nào</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Lưỡi nổi mụn thịt là dấu hiệu của bệnh gì? Cách điều trị" href="https://nhakhoakim.com/luoi-noi-mun-thit.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Luoi-noi-mun-thit-555x312.jpg" alt="Lưỡi nổi mụn thịt là dấu hiệu của bệnh gì? Cách điều trị" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Luoi-noi-mun-thit-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Lưỡi nổi mụn thịt là dấu hiệu của bệnh gì? Cách điều trị</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Các dòng kem đánh răng trắng răng hiệu quả hạn chế ê buốt" href="https://nhakhoakim.com/kem-danh-rang-trang-rang.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Kem-danh-trang-rang-555x312.jpg" alt="Các dòng kem đánh răng trắng răng hiệu quả hạn chế ê buốt" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Kem-danh-trang-rang-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Các dòng kem đánh răng trắng răng hiệu quả hạn chế ê buốt</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Đau quai hàm: Nguyên nhân và cách điều trị" href="https://nhakhoakim.com/dau-quai-ham.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Dau-quai-ham-555x312.jpg" alt="Đau quai hàm: Nguyên nhân và cách điều trị" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Dau-quai-ham-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Đau quai hàm: Nguyên nhân và cách điều trị</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Hàm trainer có tốt không? Cách đeo niềng trainer đúng" href="https://nhakhoakim.com/ham-trainer-co-tot-khong.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Ham-trainer-555x312.jpg" alt="Hàm trainer có tốt không? Cách đeo niềng trainer đúng" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Ham-trainer-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Hàm trainer có tốt không? Cách đeo niềng trainer đúng</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Có nên dùng bàn chải điện không? Nên dùng loại nào tốt?" href="https://nhakhoakim.com/co-nen-dung-ban-chai-dien-khong.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Ban-chai-dien-555x312.jpg" alt="Có nên dùng bàn chải điện không? Nên dùng loại nào tốt?" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Ban-chai-dien-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Có nên dùng bàn chải điện không? Nên dùng loại nào tốt?</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="[Short] Video Khách hàng Thái Nguyên" href="https://nhakhoakim.com/short-video-kh-thai-nguyen.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/YoutubeShort-FN-new_thai-nguyen-01-555x312.jpg" alt="[Short] Video Khách hàng Thái Nguyên" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/YoutubeShort-FN-new_thai-nguyen-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">[Short] Video Khách hàng Thái Nguyên</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Yên tâm, tin tưởng chọn Nha Khoa Kim làm tri kỷ đồng hành" href="https://nhakhoakim.com/yen-tam-tin-tuong-chon-nha-khoa-kim-lam-tri-ky-dong-hanh.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Thumb-KHnieng-THUTHAO-01-555x312.jpg" alt="Yên tâm, tin tưởng chọn Nha Khoa Kim làm tri kỷ đồng hành" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Thumb-KHnieng-THUTHAO-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Yên tâm, tin tưởng chọn Nha Khoa Kim làm tri kỷ đồng hành</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Tạm biệt hóp má do mất răng với Implant Safest" href="https://nhakhoakim.com/tam-biet-hop-ma-do-mat-rang-voi-implant-safest.html">
                            <img class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/04/Thumb-KHimplant-Thanh-Huong-01-555x312.jpg" alt="Tạm biệt hóp má do mất răng với Implant Safest" data-src="https://nhakhoakim.com/wp-content/uploads/2024/04/Thumb-KHimplant-Thanh-Huong-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Tạm biệt hóp má do mất răng với Implant Safest</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
        </div>
    </div>
    @*<div class="w-100">
        <div class="row">
            <div class="col-sm-12">
                <div class="w-100 space-2 d-flex justify-content-between align-items-center">
                    <nav aria-label="Page navigation">
                        <ul class="pagination mb-0">
                            <li class="page-item active"><a aria-current="page" class="page-link br-0 text-white">1</a></li>
                            <li class="page-item"><a class="page-link color-red-default br-0" href="?paged=2">2</a></li>
                            <li class="page-item"><a class="page-link color-red-default br-0" href="?paged=3">3</a></li>
                            <li class="page-item"><a class="page-link br-0" href="">…</a></li>
                            <li class="page-item"><a class="page-link color-red-default br-0" href="?paged=65">65</a></li>
                            <li class="page-item"><a class="page-link br-0" href="?paged=2"><span aria-hidden="true"> »</span></a></li>
                        </ul>
                    </nav><small class="d-none d-sm-inline-block text-secondary color-red-default">Hiển thị trang 1 trên 65 trang</small>
                </div>
            </div>
        </div>
    </div>*@
</div>
