@{
    ViewBag.Title = "Contact";
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-primary display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            Liên hệ với chúng tôi</h1>
            <div class="position-relative justify-content-center align-content-center align-items-center mx-auto show-desktop hide-mobile">
                <a target="_blank" title="[Top Banner] Nha Khoa Kim – Đối tác toàn cầu của Đại học Harvard" href="https://nhakhoakim.com/uu-dai-nieng-rang">
                    <img width="1920" height="520" src="https://nhakhoakim.com/wp-content/uploads/2023/05/BannerWebHV-PC.jpg" alt="[Top Banner Desktop] Nha Khoa Kim – Đối tác toàn cầu của Đại học Harvard" class="w-100 img-fluid" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Banner-uu-dai-nieng-rang-t5.24-pc.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </a>
            </div>
            <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                <li class="breadcrumb-item active text-primary">Contact</li>
            </ol>
    </div>
</div>
<!-- Header End -->
<!-- Contact Start -->
<div class="container-fluid contact bg-light py-5" id="contact">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="contact-item">
                    <div class="pb-5">
                        <h4 class="text-primary">Liên hệ</h4>
                        <p class="form-control-color: text-black">Để lại thông tin và nhận tư vấn từ chúng tôi</p>
                    </div>
                    <div class="d-flex align-items-center mb-4">

                        <div class="ms-4">
                            <h4 class="text-primary">Địa chỉ</h4>
                            <p class="form-control-color: text-black">60 Lê Văn Việt, Hiệp Phú, Quận 9, Thành phố Hồ Chí Minh, Việt Nam</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.3s">
                <div class="contact-item">
                    <div class="d-flex align-items-center mb-4">
                        <div class="ms-4">
                            <h4 class="text-primary">Số điện thoại</h4>
                            <p class="form-control-color: text-black">+84823746296</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="ms-4">
                            <h4 class="text-primary">Email</h4>
                            <p class="form-control-color: text-black">cskh@kimdental.vn</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded h-100">
                    <iframe class="rounded-top w-100"
                            style="height: 500px; margin-bottom: -6px;" <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.5308646606754!2d106.77389487355296!3d10.847168757887871!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752731c738e88b%3A0x5316a3e54cbf2eb3!2sNha%20Khoa%20Kim!5e0!3m2!1svi!2s!4v1715882568468!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
