@{
    ViewBag.Title = "Dental";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="w-100">
        <article class="col-md-12 col-sm-6 col-lg-12 transition-3d-hover col-sm-12 mb-5 bg-light">
            <div class="row p-0">
                <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                    <img class="img-fluid" width="555" height="308" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Khoang-mieng-555x308.jpg" alt="Khoang miệng là gì? Cấu tạo và chức năng của khoang miệng" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Khoang-mieng-555x308.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 p-0">
                    <div class="py-2 px-4">
                        <a class="h5 color-yellow-default text-justify" href="https://nhakhoakim.com/khoang-mieng-la-gi.html" title="Khoang miệng là gì? Cấu tạo và chức năng của khoang miệng">Khoang miệng là gì? Cấu tạo và chức năng của khoang miệng</a>
                        <div class="short-description text-justify">Khoang miệng là nơi bắt đầu của hệ tiêu hóa, là nơi tiếp xúc trực tiếp với thực phẩm, không khí và các tác nhân khác từ bên ngoài. Vì vậy, bộ phận này đóng vai trò quan trọng đối với sức khỏe con người. Trong bài viết này, hãy cùng Nha Khoa Kim tìm hiểu chi tiết các vấn đề liên quan đến khoang miệng như: vị trí, cấu tạo, chức năng để có thể chủ động hơn trong...</div>
                    </div>
                    <div class="py-2 px-4">
                        <a class="btn btn-xs btn-primary transition-3d-hover btn-blue-default border-0 br-0" title="Khoang miệng là gì? Cấu tạo và chức năng của khoang miệng" href="https://nhakhoakim.com/khoang-mieng-la-gi.html">Đọc thêm <span class="fas fa-angle-right ml-2"></span></a>
                    </div>
                </div>
            </div>
        </article>
    </div>

    <div class="w-100">
        <div class="row">
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Trẻ Bị Sâu Răng Hàm Có Mọc Lại Không? Vì Sao?" href="https://nhakhoakim.com/tre-bi-sau-rang-ham-co-moc-lai-khong.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Tre-bi-sau-rang-ham-co-moc-lai-khong-555x312.jpg" alt="Trẻ Bị Sâu Răng Hàm Có Mọc Lại Không? Vì Sao?" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Tre-bi-sau-rang-ham-co-moc-lai-khong-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Trẻ Bị Sâu Răng Hàm Có Mọc Lại Không? Vì Sao?</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Trồng răng implant all on 4 khi nào? Giá bao nhiêu?" href="https://nhakhoakim.com/trong-rang-implant-all-on-4.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Trong-rang-implant-all-on-4-555x312.jpg" alt="Trồng răng implant all on 4 khi nào? Giá bao nhiêu?" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Trong-rang-implant-all-on-4-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Trồng răng implant all on 4 khi nào? Giá bao nhiêu?</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Sâu răng là gì? Nguyên nhân, dấu hiệu và cách điều trị" href="https://nhakhoakim.com/sau-rang-la-gi.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Sau-rang-555x312.jpg" alt="Sâu răng là gì? Nguyên nhân, dấu hiệu và cách điều trị" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Sau-rang-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Sâu răng là gì? Nguyên nhân, dấu hiệu và cách điều trị</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Xịt chống sâu răng cho bé có tốt không? Nên dùng loại nào" href="https://nhakhoakim.com/xit-chong-sau-rang-cho-be.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Xit-chong-sau-rang-cho-be-555x312.jpg" alt="Xịt chống sâu răng cho bé có tốt không? Nên dùng loại nào" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Xit-chong-sau-rang-cho-be-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Xịt chống sâu răng cho bé có tốt không? Nên dùng loại nào</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Lưỡi nổi mụn thịt là dấu hiệu của bệnh gì? Cách điều trị" href="https://nhakhoakim.com/luoi-noi-mun-thit.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Luoi-noi-mun-thit-555x312.jpg" alt="Lưỡi nổi mụn thịt là dấu hiệu của bệnh gì? Cách điều trị" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Luoi-noi-mun-thit-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Lưỡi nổi mụn thịt là dấu hiệu của bệnh gì? Cách điều trị</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Các dòng kem đánh răng trắng răng hiệu quả hạn chế ê buốt" href="https://nhakhoakim.com/kem-danh-rang-trang-rang.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Kem-danh-trang-rang-555x312.jpg" alt="Các dòng kem đánh răng trắng răng hiệu quả hạn chế ê buốt" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Kem-danh-trang-rang-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Các dòng kem đánh răng trắng răng hiệu quả hạn chế ê buốt</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Đau quai hàm: Nguyên nhân và cách điều trị" href="https://nhakhoakim.com/dau-quai-ham.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Dau-quai-ham-555x312.jpg" alt="Đau quai hàm: Nguyên nhân và cách điều trị" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Dau-quai-ham-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Đau quai hàm: Nguyên nhân và cách điều trị</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Hàm trainer có tốt không? Cách đeo niềng trainer đúng" href="https://nhakhoakim.com/ham-trainer-co-tot-khong.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Ham-trainer-555x312.jpg" alt="Hàm trainer có tốt không? Cách đeo niềng trainer đúng" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Ham-trainer-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Hàm trainer có tốt không? Cách đeo niềng trainer đúng</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Có nên dùng bàn chải điện không? Nên dùng loại nào tốt?" href="https://nhakhoakim.com/co-nen-dung-ban-chai-dien-khong.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Ban-chai-dien-555x312.jpg" alt="Có nên dùng bàn chải điện không? Nên dùng loại nào tốt?" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Ban-chai-dien-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Có nên dùng bàn chải điện không? Nên dùng loại nào tốt?</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Vô trùng nha khoa" href="https://nhakhoakim.com/vo-trung-nha-khoa.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/04/NKK_WEB-cong-nghe-sso-06-555x312.jpg" alt="Vô trùng nha khoa" data-src="https://nhakhoakim.com/wp-content/uploads/2024/04/NKK_WEB-cong-nghe-sso-06-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Vô trùng nha khoa</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Labo A&amp;B tiếp nhận chuyển giao công nghệ BioHPP- Visio.lign từ Đức" href="https://nhakhoakim.com/labo-ab-tiep-nhan-chuyen-giao-cong-nghe-biohpp-visio-lign-tu-duc.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/04/NKK_labo-nhan-chuyen-giao-web-01-555x312.jpg" alt="Labo A&amp;B tiếp nhận chuyển giao công nghệ BioHPP- Visio.lign từ Đức" data-src="https://nhakhoakim.com/wp-content/uploads/2024/04/NKK_labo-nhan-chuyen-giao-web-01-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Labo A&amp;B tiếp nhận chuyển giao công nghệ BioHPP- Visio.lign từ Đức</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Quy trình tiệt trùng tại hệ thống Nha Khoa Kim như thế nào?" href="https://nhakhoakim.com/quy-trinh-tiet-trung-tai-he-thong-nha-khoa-kim-nhu-the-nao.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/03/NKK_web-phong-thanh-trung-07-1-555x312.jpg" alt="Quy trình tiệt trùng tại hệ thống Nha Khoa Kim như thế nào?" data-src="https://nhakhoakim.com/wp-content/uploads/2024/03/NKK_web-phong-thanh-trung-07-1-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Quy trình tiệt trùng tại hệ thống Nha Khoa Kim như thế nào?</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="So sánh cầu răng sứ và implant phương pháp nào tốt hơn?" href="https://nhakhoakim.com/cau-rang-su-va-implant.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/03/So-sanh-la-cau-rang-va-implant-555x312.jpg" alt="So sánh cầu răng sứ và implant phương pháp nào tốt hơn?" data-src="https://nhakhoakim.com/wp-content/uploads/2024/03/So-sanh-la-cau-rang-va-implant-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">So sánh cầu răng sứ và implant phương pháp nào tốt hơn?</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Hô hàm có niềng răng được hay không? Vì sao?" href="https://nhakhoakim.com/ho-ham-co-nieng-rang-duoc-hay-khong.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/03/Ho-ham-co-nieng-rang-duoc-hay-khong-555x312.jpg" alt="Hô hàm có niềng răng được hay không? Vì sao?" data-src="https://nhakhoakim.com/wp-content/uploads/2024/03/Ho-ham-co-nieng-rang-duoc-hay-khong-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Hô hàm có niềng răng được hay không? Vì sao?</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Bọc răng sứ có tháo ra được không? Quy trình tháo răng sứ" href="https://nhakhoakim.com/boc-rang-su-co-thao-ra-duoc-khong.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/03/Boc-rang-su-co-thao-ra-duoc-khong-555x312.jpg" alt="Bọc răng sứ có tháo ra được không? Quy trình tháo răng sứ" data-src="https://nhakhoakim.com/wp-content/uploads/2024/03/Boc-rang-su-co-thao-ra-duoc-khong-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Bọc răng sứ có tháo ra được không? Quy trình tháo răng sứ</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
            <article class="col-md-6 col-sm-6 col-lg-3 transition-3d-hover col-6">
                <div class="cbp-caption mb-1">
                    <div class="card border-0">
                        <a title="Những tác hại của răng sứ kim loại cần lưu ý" href="https://nhakhoakim.com/tac-hai-cua-rang-su-kim-loai.html">
                            <img width="350" height="197" class="img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2024/03/Nhung-tac-hai-cua-rang-su-kim-loai-555x312.jpg" alt="Những tác hại của răng sứ kim loại cần lưu ý" data-src="https://nhakhoakim.com/wp-content/uploads/2024/03/Nhung-tac-hai-cua-rang-su-kim-loai-555x312.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            <div class="card-body pl-0 pr-0">
                                <div class="mb-4">
                                    <h6 class="mb-0 font-size-1 font-weight-700">Những tác hại của răng sứ kim loại cần lưu ý</h6>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </article>
        </div>
        @*<div class="row">
            <div class="w-100 space-2 d-flex justify-content-between align-items-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination mb-0">
                        <li class="page-item active"><a aria-current="page" class="page-link br-0 text-white">1</a></li>
                        <li class="page-item"><a class="page-link color-red-default br-0" href="?paged=2">2</a></li>
                        <li class="page-item"><a class="page-link color-red-default br-0" href="?paged=3">3</a></li>
                        <li class="page-item"><a class="page-link br-0" href="">…</a></li>
                        <li class="page-item"><a class="page-link color-red-default br-0" href="?paged=20">20</a></li>
                        <li class="page-item"><a class="page-link br-0" href="?paged=2"><span aria-hidden="true"> »</span></a></li>
                    </ul>
                </nav><small class="d-none d-sm-inline-block text-secondary color-red-default">Hiển thị trang 1 trên 20 trang</small>
            </div>
        </div>*@
    </div>
</div>