@{
    ViewBag.Title = "Implant";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="position-relative justify-content-center align-content-center align-items-center mx-auto show-mobile hide-desktop">
    <a title="[Top Banner] Cấy ghép Implant là gì? Có nên cấy Implant không?" href="javascript:void(0)">
        <img width="1603" height="699" src="https://nhakhoakim.com/wp-content/uploads/2023/09/Banner_Implant-APP-01.jpg" alt="[Top Banner Mobile] Cấy ghép Implant là gì? Có nên cấy Implant không?" class="w-100 img-fluid" data-src="https://nhakhoakim.com/wp-content/uploads/2023/09/Banner_Implant-APP-01.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
    </a>
</div>

<div class="container space-1">
    <div class="row">
        <!-- ====================== POST CONTENT ================= -->
        <div class="col-lg-9 col-sm-12 column-page col-xs-12" id="post-content">
            <h1 class="font-weight-normal h2 color-yellow-default z-post-title">Cấy ghép Implant là gì? Có nên cấy Implant không?</h1>
            <!--div class="post-date"></div-->
            <div id="post-content-mdetail" class="post-content">
                <p style="text-align: justify;">Cấy ghép Implant là giải pháp phục hồi răng bị mất hiệu quả nhất bởi không chỉ giúp khôi phục thẩm mỹ hàm răng, đảm bảo khả năng ăn nhai bình thường, mà răng Implant còn có khả năng duy trì bền vững với nhiều ưu điểm vượt trội</p>
                <div id="ez-toc-container" class="ez-toc-v2_0_66_1 ez-toc-wrap-left counter-hierarchy ez-toc-counter ez-toc-custom ez-toc-container-direction">
                    <p class="ez-toc-title">Nội Dung Chính</p>
                    <label for="ez-toc-cssicon-toggle-item-66504242ccdeb" class="ez-toc-cssicon-toggle-label"><span class=""><span class="eztoc-hide" style="display:none;">Toggle</span><span class="ez-toc-icon-toggle-span"><svg style="fill: #1e73be;color:#1e73be" xmlns="http://www.w3.org/2000/svg" class="list-377408" width="20px" height="20px" viewBox="0 0 24 24" fill="none"><path d="M6 6H4v2h2V6zm14 0H8v2h12V6zM4 11h2v2H4v-2zm16 0H8v2h12v-2zM4 16h2v2H4v-2zm16 0H8v2h12v-2z" fill="currentColor"></path></svg><svg style="fill: #1e73be;color:#1e73be" class="arrow-unsorted-368013" xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny"><path d="M18.2 9.3l-6.2-6.3-6.2 6.3c-.2.2-.3.4-.3.7s.1.5.3.7c.2.2.4.3.7.3h11c.3 0 .5-.1.7-.3.2-.2.3-.5.3-.7s-.1-.5-.3-.7zM5.8 14.7l6.2 6.3 6.2-6.3c.2-.2.3-.5.3-.7s-.1-.5-.3-.7c-.2-.2-.4-.3-.7-.3h-11c-.3 0-.5.1-.7.3-.2.2-.3.5-.3.7s.1.5.3.7z"></path></svg></span></span></label><input type="checkbox" id="ez-toc-cssicon-toggle-item-66504242ccdeb" aria-label="Toggle"><nav><ul class="ez-toc-list ez-toc-list-level-1"><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#Cay_ghep_Implant_la_gi" title="Cấy ghép Implant là gì?">Cấy ghép Implant là gì?</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-2" href="#Co_nen_cay_ghep_Implant_khong" title="Có nên cấy ghép Implant không?">Có nên cấy ghép Implant không?</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-3" href="#Khi_nao_nen_va_khong_nen_cay_ghep_Implant" title="Khi nào nên và không nên cấy ghép Implant?">Khi nào nên và không nên cấy ghép Implant?</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-4" href="#So_sanh_cay_ghep_Implant_voi_cau_rang_su_va_ham_thap_lap" title="So sánh cấy ghép Implant với cầu răng sứ và hàm tháp lắp">So sánh cấy ghép Implant với cầu răng sứ và hàm tháp lắp</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-5" href="#Cac_phuong_phap_cay_ghep_Implant" title="Các phương pháp cấy ghép Implant">Các phương pháp cấy ghép Implant</a><ul class="ez-toc-list-level-3"><li class="ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-6" href="#Tru_Implant_don_le" title="Trụ Implant đơn lẻ">Trụ Implant đơn lẻ</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-7" href="#Cau_rang_su_tren_Implant" title="Cầu răng sứ trên Implant">Cầu răng sứ trên Implant</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-8" href="#Cay_ghep_Implant_toan_ham_thuc_hien_tai_benh_vien" title="Cấy ghép Implant toàn hàm (thực hiện tại bệnh viện)">Cấy ghép Implant toàn hàm (thực hiện tại bệnh viện)</a></li></ul></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-9" href="#Cay_ghep_rang_Implant_gia_bao_nhieu" title="Cấy ghép răng Implant giá bao nhiêu?">Cấy ghép răng Implant giá bao nhiêu?</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-10" href="#Quy_trinh_cay_ghep_Implant_chuan_y_khoa" title="Quy trình cấy ghép Implant chuẩn y khoa">Quy trình cấy ghép Implant chuẩn y khoa</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-11" href="#Cay_ghep_Implant_mat_bao_lau" title="Cấy ghép Implant mất bao lâu?">Cấy ghép Implant mất bao lâu?</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-12" href="#Cay_ghep_Implant_co_dau_khong" title="Cấy ghép Implant có đau không?">Cấy ghép Implant có đau không?</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-13" href="#Phuong_phap_cay_ghep_Implant_khong_dau_bang_mang_dinh_vi" title="Phương pháp cấy ghép Implant không đau bằng máng định vị&nbsp;">Phương pháp cấy ghép Implant không đau bằng máng định vị&nbsp;</a><ul class="ez-toc-list-level-3"><li class="ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-14" href="#Khong_dau_khong_chay_mau" title="Không đau, không chảy máu">Không đau, không chảy máu</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-15" href="#Chinh_xac_an_toan_tuyet_doi" title="Chính xác, an toàn tuyệt đối">Chính xác, an toàn tuyệt đối</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-16" href="#Cay_ghep_nhanh_chong_va_lanh_thuong_nhanh" title="Cấy ghép nhanh chóng và lành thương nhanh">Cấy ghép nhanh chóng và lành thương nhanh</a></li></ul></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-17" href="#Nen_cay_ghep_Implant_o_dau_tot_nhat" title="Nên cấy ghép Implant ở đâu tốt nhất?">Nên cấy ghép Implant ở đâu tốt nhất?</a><ul class="ez-toc-list-level-3"><li class="ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-18" href="#Doi_ngu_bac_si_chuyen_mon_gioi" title="Đội ngũ bác sĩ chuyên môn giỏi">Đội ngũ bác sĩ chuyên môn giỏi</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-19" href="#He_thong_trang_thiet_bi_chuan_doan_hien_dai_chinh_xac_an_toan" title="Hệ thống trang thiết bị chuẩn đoán hiện đại, chính xác, an toàn">Hệ thống trang thiết bị chuẩn đoán hiện đại, chính xác, an toàn</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-20" href="#Dich_vu_nha_khoa_dat_chat_luong_GCR_Hoa_Ky_va_ISO_9001_2015" title="Dịch vụ nha khoa đạt chất lượng GCR (Hoa Kỳ) và ISO 9001:2015">Dịch vụ nha khoa đạt chất lượng GCR (Hoa Kỳ) và ISO 9001:2015</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-21" href="#Thong_tin_ro_rang_minh_bach" title="Thông tin rõ ràng, minh bạch">Thông tin rõ ràng, minh bạch</a></li></ul></li></ul></nav>
                </div>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Cay_ghep_Implant_la_gi"></span><strong><span style="color: #ff9900;">Cấy ghép Implant là gì?</span></strong><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><a href="https://nhakhoakim.com/trong-rang-implant.html"><strong>Cấy ghép Implant</strong></a> (hay cắm Implant) <span style="font-weight: 400;">là </span><span style="font-weight: 400;">phương pháp dùng một trụ chân răng nhân tạo bằng Titanium đặt vào trong xương hàm tại vị trí răng đã mất. Trụ chân răng này sẽ thay thế chân răng thật, sau đó dùng răng sứ gắn lên trụ răng Implant tạo thành răng hoàn chỉnh.</span></p>
                <p style="text-align: justify;">Đến thời điểm hiện tại, cấy implant vẫn là phương pháp phục hồi răng mất hiện đại mang lại hiệu quả cao nhất hiện nay. Không chỉ khôi phục vẻ ngoài tự tin, implant còn giúp người bệnh khôi phục khả năng ăn nhai và ngăn ngừa các bệnh lý về răng miệng, tiêu xương vô cùng hiệu quả.&nbsp;</p>
                <p style="text-align: center;"><img fetchpriority="high" decoding="async" class="img-fluid wp-image-34910 aligncenter" src="https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim.jpg" alt="Cấy ghép implant là gì" width="850" height="306" data-src="https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim.jpg 638w, https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim-555x243.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim-24x10.jpg 24w, https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim-36x16.jpg 36w, https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim-48x21.jpg 48w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim.jpg 638w, https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim-555x243.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim-24x10.jpg 24w, https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim-36x16.jpg 36w, https://nhakhoakim.com/wp-content/uploads/2018/01/cau-tao-rang-implant-Nha-Khoa-Kim-48x21.jpg 48w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Cấy ghép implant là phương pháp phục hồi răng mất an toàn, hiệu quả nhất hiện nay</em></span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Co_nen_cay_ghep_Implant_khong"></span><strong><span style="color: #ff9900;">Có nên cấy ghép Implant không?</span></strong><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;">Có thể thấy, cấy implant là phương pháp hiện đại giúp khôi phục răng mất rất hiệu quả, mang đến nhiều lợi ích như:</p>
                <ul style="text-align: justify;">
                    <li><strong>Tính thẩm mỹ cao</strong>: so với các phương pháp trồng răng giả khác, cấy implant mang đến tính thẩm mỹ cao với kích thước, hình dáng và màu sắt có động tương đồng cao như răng thật.</li>
                    <li><strong>Khả năng ăn nhai cao</strong>: thông qua việc sử dụng trụ implant thay cho phần chân răng đã mất, phương pháp này mang lại khả năng ăn nhai như răng thật.</li>
                    <li><strong>Ngăn ngừa tiêu xương</strong>: khác với các cách làm răng giả thông thường, implant giúp khôi phục phần chân răng đã mất bằng trụ titan. Điều này giúp ngăn ngừa tiêu xương và các bệnh lý răng miệng khác như: tụt nướu, chạy răng, hôi miệng,…</li>
                    <li><strong>Tuổi thọ cao</strong>: trên thực tế, tuổi thọ trung bình của trụ implant dao động từ 20 – 30 năm. Nếu sử dụng đúng cách có thể lên đến trọn đời.</li>
                </ul>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Khi_nao_nen_va_khong_nen_cay_ghep_Implant"></span><span style="color: #ff9900;"><strong>Khi nào nên và không nên cấy ghép Implant?</strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Là phương pháp phục hình răng mất hiệu quả, cấy ghép implant được khuyến khích thực hiện trong các trường hợp sau:</span></p>
                <ul style="text-align: justify;">
                    <li aria-level="1">Mất 1 hoặc nhiều răng nhưng không muốn can thiệp bằng phương pháp bọc răng sứ.</li>
                    <li aria-level="1">Trường hợp mất răng nhưng các chân răng bên cạnh không đủ khỏe để làm trụ cầu</li>
                    <li aria-level="1">Trường hợp mất răng nhiều hoặc toàn hàm, cần can thiệp bằng implant nhằm hạn chế tiêu xương hàm.</li>
                </ul>
                <p style="text-align: justify;">Tuy nhiên, trong một vài trường hợp đặc biệt implant sẽ được chống chỉ định sử dụng như:&nbsp;</p>
                <ul style="text-align: justify;">
                    <li>Những người có bệnh lý về tiểu đường, tim mạch, huyết áp,…</li>
                    <li>Phụ nữ đang mai thai.</li>
                    <li>Những người có bệnh lý về răng miệng gây viêm và ảnh hưởng đến vị trí đặt implant.</li>
                    <li>Trường hợp người bệnh đã từng xạ trị xương hàm..</li>
                </ul>
                <p style="text-align: center;"><img decoding="async" class="wp-image-34898 aligncenter img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-2.jpg" alt="Khi nào nên và không nên cấy ghép implant?" width="850" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-2.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-2.jpg 701w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-2-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-2-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-2.jpg 701w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-2-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-2-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><em><span style="font-size: 14px;">Implant được sử dụng cho các trường hợp mất 1 hoặc nhiều răng</span></em></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="So_sanh_cay_ghep_Implant_voi_cau_rang_su_va_ham_thap_lap"></span><span style="font-size: 24px; color: #ff9900;"><b>So sánh cấy ghép Implant với cầu răng sứ và hàm tháp lắp</b></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;">Cấy ghép implant, cầu răng sứ và hàm giả tháo lắp là những phương pháp phục hình răng mất được sử dụng phổ biến. Vậy đâu là phương pháp trồng răng giả hiệu quả và nên áp dụng nhất hiện nay?</p>
                <div class="table-responsive" style="text-align: justify;">
                    <div class="table-responsive">
                        <table class="table" style="width: 100.038%; height: 648px;">
                            <thead>
                                <tr style="height: 24px;">
                                    <th style="width: 15.8108%;" scope="col">&nbsp;</th>
                                    <th style="width: 24.9999%; text-align: center;" scope="col">Hàm giả tháo lắp</th>
                                    <th style="width: 27.7028%; text-align: center;" scope="col">Cầu răng sứ</th>
                                    <th style="width: 29.9999%; text-align: center;" scope="col">Cấy ghép Implant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="height: 264px;">
                                    <td style="width: 15.8108%; text-align: left;"><strong>Ưu điểm</strong></td>
                                    <td style="width: 24.9999%; text-align: left;">
                                        <p>• Đơn giản, dễ thực hiện trong thời gian ngắn.</p>
                                        <p>• Phù hợp với người cao tuổi, sức khỏe yếu.</p>
                                        <p>• Chi phí thấp.</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td style="width: 27.7028%; text-align: left;">
                                        <p>• Đẹp tự nhiên hơn hàm giả tháo lắp.</p>
                                        <p>• Chức năng ăn nhai tốt hơn hàm giả tháo lắp.</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td style="width: 29.9999%; text-align: left;">
                                        <p>• Thẩm mỹ đẹp: răng được phục hình có hình dáng đẹp như răng thật.</p>
                                        <p>• Chức năng ăn nhai tốt và tự nhiên như răng thật.</p>
                                        <p>• Khắc phục tiêu xương ổ răng.</p>
                                        <p>• Không xâm lấn, bảo tồn răng thật.</p>
                                        <p>• Chi phí hợp lý so với độ bền lâu dài.</p>
                                    </td>
                                </tr>
                                <tr style="height: 280px;">
                                    <td style="width: 15.8108%; text-align: left;"><strong>Nhược điểm</strong></td>
                                    <td style="width: 24.9999%; text-align: left;">
                                        <p>• Lực nhai yếu, không nhai được đồ cứng, dai.</p>
                                        <p>• Vướng víu, bất tiện do phải vệ sinh thường xuyên.</p>
                                        <p>• Thời gian dài sẽ gây tiêu xương hàm, tụt nướu, gương mặt lão hóa sớm.&nbsp;</p>
                                        <p>&nbsp;</p>
                                    </td>
                                    <td style="width: 27.7028%; text-align: left;">
                                        <p>• Gây tổn hại đến răng thật xung quanh.</p>
                                        <p>• Thời gian dài sẽ gây tiêu xương hàm, tụt nướu.</p>
                                        <p>• Dễ gây viêm nướu, hôi miệng.</p>
                                        <p>• Chi phí cao và khả năng làm lại cao.</p>
                                    </td>
                                    <td style="width: 29.9999%; text-align: left;">
                                        <p>• Thời gian điều trị dài.</p>
                                        <p>• Cần chăm sóc kỹ như răng thật.&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                    </td>
                                </tr>
                                <tr style="height: 80px;">
                                    <td style="width: 15.8108%; text-align: left;"><strong>Tuổi thọ</strong></td>
                                    <td style="width: 24.9999%; text-align: left;">
                                        <p>• Thấp, 3-5 năm phải chỉnh hoặc thay hàm mới.</p>
                                    </td>
                                    <td style="width: 27.7028%; text-align: left;">
                                        <p>• Từ 7-15 năm nếu chăm sóc tốt.</p>
                                    </td>
                                    <td style="width: 29.9999%; text-align: left;">
                                        <p>• Gần như vĩnh viễn khi chăm sóc đúng cách.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width: 15.8108%; text-align: left;"><strong>Chi phí/răng</strong></td>
                                    <td style="width: 24.9999%; text-align: center;">
                                        <p>800.000đ – 1.000.000đ</p>
                                    </td>
                                    <td style="width: 27.7028%; text-align: center;">
                                        <p>1.500.000đ – 8.000.000đ</p>
                                    </td>
                                    <td style="width: 29.9999%; text-align: center;">
                                        <p>17.000.000đ – 34.000.000đ</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Cac_phuong_phap_cay_ghep_Implant"></span><span style="font-size: 24px; color: #ff9900;"><b>Các phương pháp cấy ghép Implant</b></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;">Có 4 phương pháp cấy ghép implant chính là implant đơn lẻ, implnt toàn hàm và cầu răng sứ trên implant. Tùy vào tình trạng răng miệng và số lượng răng mất mà bác sĩ sẽ chỉ định phương pháp phù hợp.</p>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="Tru_Implant_don_le"></span><b>Trụ Implant đơn lẻ</b><span class="ez-toc-section-end"></span></h3>
                <p style="text-align: justify;"><span style="font-weight: 400;">Đối với trường hợp khách hàng bị mất một hoặc mất nhiều răng (nhưng các răng mất không liền kề nhau) có thể thực hiện phương pháp cấy ghép Implant đơn lẻ tại từng vị trí răng đã mất.</span></p>
                <p style="text-align: center;"><img decoding="async" class="aligncenter wp-image-34899 img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-8.jpg" alt="cấy ghép implant đơn lẻ" width="850" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-8.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-8.jpg 701w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-8-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-8-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-8.jpg 701w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-8-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-8-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Cấy ghép implant đơn lẻ được sử dụng cho trường hợp mất 1 hoặc nhiều răng không liền kề nhau</em></span></p>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="Cau_rang_su_tren_Implant"></span><b>Cầu răng sứ trên Implant</b><span class="ez-toc-section-end"></span></h3>
                <p style="text-align: justify;"><span style="font-weight: 400;">Đối với trường hợp khách hàng bị mất 3 răng liên tiếp, bác sĩ sẽ tiến hành cắm Implant ở 2 vị trí mất răng ngoài cùng, sau đó bọc mão sứ bắc cầu cho cả 3 răng. Lúc này, 2 răng được trồng bằng trụ Implant sẽ là 2 răng đỡ cho cả dãy 3 răng bị mất.</span></p>
                <p style="text-align: center;"><img decoding="async" class="aligncenter wp-image-34900 img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-9.jpg" alt="cầu răng sứ trên implant" width="850" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-9.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-9.jpg 701w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-9-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-9-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-9.jpg 701w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-9-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-9-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Cầu răng sứ trên Implant được chỉ định cho trường hợp khách hàng bị mất 3 răng liên tiếp</em></span></p>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="Cay_ghep_Implant_toan_ham_thuc_hien_tai_benh_vien"></span><b>Cấy ghép Implant toàn hàm (thực hiện tại bệnh viện)</b><span class="ez-toc-section-end"></span></h3>
                <p style="text-align: justify;"><span style="font-weight: 400;">Trồng răng bằng cấy ghép Implant toàn hàm là giải pháp phục hồi răng toàn diện, đem lại trải nghiệm chân thật cho khách hàng mất răng toàn bộ nhưng vẫn muốn có được hàm răng trắng sáng, ăn nhai tự nhiên.</span></p>
                <p style="text-align: center;"><img decoding="async" class="aligncenter wp-image-34901 size-full img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-10.jpg" alt="Cấy ghép implant toàn hàm " width="850" height="501" data-src="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-10.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-10.jpg 701w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-10-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-10-20x14.jpg 20w" data-sizes="(max-width: 701px) 100vw, 701px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-10.jpg 701w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-10-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/01/cay-ghep-implant-nha-khoa-kim-10-20x14.jpg 20w" sizes="(max-width: 701px) 100vw, 701px"><span style="font-size: 14px;"><em>Implant toàn hàm đảm bảo tính thẩm mỹ và chức năng ăn nhai như răng thật</em></span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Cay_ghep_rang_Implant_gia_bao_nhieu"></span><span style="color: #ff9900;"><strong>Cấy ghép răng Implant giá bao nhiêu?</strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;">Mức giá cấy ghép implant dao động từ 6.000.000đ – 35.000.000đ/răng, tùy vào chất lượng trụ, công nghệ và bảng giá của từng nha khoa. Đối với các dòng trụ cao cấp, mức giá cấy implant sẽ cao hơn nhưng chất lượng và tuổi thọ cũng sẽ vượt trội hơn.&nbsp;</p>
                <p style="text-align: center;"><strong>Bảng giá cấy ghép implant mới nhất 2024 tại Nha Khoa Kim</strong></p>
                <div class="table-responsive">
                    <table class="table format-table-price" style="width: 100%; height: 394px;">
                        <tbody>
                            <tr style="height: 48px;">
                                <td style="text-align: center; width: 61.697%; height: 48px;"><strong>Dịch vụ</strong></td>
                                <td style="width: 10.5454%; height: 48px; text-align: center;"><strong>ĐVT</strong></td>
                                <td style="width: 12.606%; height: 48px; text-align: center;"><strong>Giá dịch vụ (ĐVT)</strong></td>
                                <td style="text-align: center; width: 13.9394%; height: 48px;"><strong>Bảo hành</strong></td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 61.697%; height: 10px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;1. Trụ Implant + Abutment Biotem + Máng định vị in 3D + Công nghệ Safest&quot;}">
                                    <p>Liệu trình Implant + Abutment Biotem + Máng định vị in 3D + Công nghệ Safest</p>
                                </td>
                                <td style="width: 10.5454%; height: 10px; text-align: center;">
                                    <p>Trụ</p>
                                </td>
                                <td style="width: 12.606%; height: 10px; text-align: center;">
                                    <p><strong>17.000.000</strong></p>
                                </td>
                                <td style="width: 13.9394%; height: 10px; text-align: center;">
                                    <p>10 năm</p>
                                </td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 61.697%; height: 24px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;2. Trụ Implant + Abutment Dio + Máng định vị in 3D + Công nghệ Safest&quot;}">
                                    <p>Liệu trình Implant + Abutment Dio + Máng định vị in 3D + Công nghệ Safest</p>
                                </td>
                                <td style="width: 10.5454%; height: 24px; text-align: center;">
                                    <p>Trụ</p>
                                </td>
                                <td style="width: 12.606%; height: 24px; text-align: center;">
                                    <p><strong>17.000.000</strong></p>
                                </td>
                                <td style="width: 13.9394%; height: 24px; text-align: center;">
                                    <p>10 năm</p>
                                </td>
                            </tr>
                            <tr style="height: 48px;">
                                <td style="width: 61.697%; height: 48px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;3. Trụ Implant + Abutment Megagen Anyridge + Máng định vị in 3D + Công nghệ Safest&quot;}">
                                    <p>Liệu trình Implant + Abutment Megagen Anyridge + Máng định vị in 3D + Công nghệ Safest</p>
                                </td>
                                <td style="width: 10.5454%; height: 48px; text-align: center;">
                                    <p>Trụ</p>
                                </td>
                                <td style="width: 12.606%; height: 48px; text-align: center;">
                                    <p><strong>22.000.000</strong></p>
                                </td>
                                <td style="width: 13.9394%; height: 48px; text-align: center;">
                                    <p>10 năm</p>
                                </td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 61.697%; height: 24px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;4. Trụ Implant + Abutment Swiss + Máng định vị in 3D + Công nghệ Safest&quot;}">
                                    <p>Liệu trình Implant + Abutment Swiss + Máng định <span style="font-family: inherit; font-size: inherit;">vị in 3D + Công nghệ Safest</span></p>
                                </td>
                                <td style="width: 10.5454%; height: 24px; text-align: center;">
                                    <p>Trụ</p>
                                </td>
                                <td style="width: 12.606%; height: 24px; text-align: center;">
                                    <p><strong>29.000.000</strong></p>
                                </td>
                                <td style="width: 13.9394%; height: 24px; text-align: center;">
                                    <p>Vĩnh viễn</p>
                                </td>
                            </tr>
                            <tr style="height: 48px;">
                                <td style="width: 61.697%; height: 48px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;5. Trụ Implant + Abutment Straumann SLA + Máng định vị in 3D + Công nghệ Safest&quot;}">
                                    <p>Liệu trình Implant + Abutment Straumann SLA + Máng định vị in 3D + Công nghệ Safest</p>
                                </td>
                                <td style="width: 10.5454%; height: 48px; text-align: center;">
                                    <p>Trụ</p>
                                </td>
                                <td style="width: 12.606%; height: 48px; text-align: center;">
                                    <p><strong>30.000.000</strong></p>
                                </td>
                                <td style="width: 13.9394%; height: 48px; text-align: center;">
                                    <p>Vĩnh viễn</p>
                                </td>
                            </tr>
                            <tr style="height: 48px;">
                                <td style="width: 61.697%; height: 48px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;6. Trụ Implant + Abutment Straumann SLA Active + Máng định vị in 3D + Công nghệ Safest&quot;}">
                                    <p>Liệu trình Implant + Abutment Straumann SLA Active + Máng định vị in 3D + Công nghệ Safest</p>
                                </td>
                                <td style="width: 10.5454%; height: 48px; text-align: center;">
                                    <p>Trụ</p>
                                </td>
                                <td style="width: 12.606%; height: 48px; text-align: center;">
                                    <p><strong>34.000.000</strong></p>
                                </td>
                                <td style="width: 13.9394%; height: 48px; text-align: center;">
                                    <p>Vĩnh viễn</p>
                                </td>
                            </tr>
                            <tr style="height: 48px;">
                                <td style="width: 61.697%; height: 48px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;7. Trụ Implant + Abutment Nobel Active + Máng định vị in 3D + Công nghệ Safest&quot;}">
                                    <p>Liệu trình Implant + Abutment Nobel Active + Máng định vị in 3D + Công nghệ Safest</p>
                                </td>
                                <td style="width: 10.5454%; height: 48px; text-align: center;">
                                    <p>Trụ</p>
                                </td>
                                <td style="width: 12.606%; height: 48px; text-align: center;">
                                    <p><strong>34.000.000</strong></p>
                                </td>
                                <td style="width: 13.9394%; height: 48px; text-align: center;">
                                    <p>Vĩnh viễn</p>
                                </td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 61.697%; height: 24px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;8. Công nghệ cấy ghép Implant bằng Robot X-Guide&quot;}">
                                    <p>Công nghệ cấy ghép Implant bằng Robot X-Guide</p>
                                </td>
                                <td style="width: 10.5454%; height: 24px; text-align: center;">
                                    <p>Hàm</p>
                                </td>
                                <td style="width: 12.606%; height: 24px; text-align: center;">
                                    <p><strong>3.500.000</strong></p>
                                </td>
                                <td style="width: 13.9394%; height: 24px; text-align: center;">&nbsp;</td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 61.697%; height: 24px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;9. Răng sứ trên Implant Cera + Công nghệ SwiftPerfect&quot;}">
                                    <p>Răng sứ trên Implant Cera + Công nghệ SwiftPerfect</p>
                                </td>
                                <td style="width: 10.5454%; height: 24px; text-align: center;">
                                    <p>Răng</p>
                                </td>
                                <td style="width: 12.606%; height: 24px; text-align: center;">
                                    <p><strong>6.500.000</strong></p>
                                </td>
                                <td style="width: 13.9394%; height: 24px; text-align: center;">
                                    <p>5 năm</p>
                                </td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 61.697%; height: 24px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;10. Răng sứ trên Implant Cera Bright + Công nghệ SwiftPerfect&quot;}">
                                    <p>Răng sứ trên Implant Cera Bright + Công nghệ SwiftPerfect</p>
                                </td>
                                <td style="width: 10.5454%; height: 24px; text-align: center;">
                                    <p>Răng</p>
                                </td>
                                <td style="width: 12.606%; height: 24px; text-align: center;">
                                    <p><strong>7.900.000</strong></p>
                                </td>
                                <td style="width: 13.9394%; height: 24px; text-align: center;">
                                    <p>7 năm</p>
                                </td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 61.697%; height: 24px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;11. Răng sứ trên Implant Cera SuperBright + Công nghệ SwiftPerfect&quot;}">
                                    <p>Răng sứ trên Implant Cera SuperBright + Công nghệ SwiftPerfect</p>
                                </td>
                                <td style="width: 10.5454%; height: 24px; text-align: center;">
                                    <p>Răng</p>
                                </td>
                                <td style="width: 12.606%; height: 24px; text-align: center;">
                                    <p><strong>8.400.000</strong></p>
                                </td>
                                <td style="width: 13.9394%; height: 24px; text-align: center;">
                                    <p>7 năm</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p style="text-align: right;"><em style="text-align: right;">(*) Giá đã bao gồm VAT áp dụng từ ngày 01/06/2023</em></p>
                <p style="text-align: justify;">Quy trình cấy ghép implant tại Nha Khoa Kim sử dụng máng định vị in 3D kết hợp cùng Công nghệ Safest mang đến độ chính xác cao, giúp quá trình cấy ghép diễn ra an toàn, nhanh chóng và không gây đau đớn cho khách hàng. Đồng thời, hạn chế đào thải, rút ngắn thời gian lành thương, nâng cao chất lượng và tuổi thọ răng.</p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Quy_trinh_cay_ghep_Implant_chuan_y_khoa"></span><span style="font-size: 24px; color: #ff9900;"><b>Quy trình cấy ghép Implant chuẩn y khoa</b></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Các bước thực hiện cấy Implant cần được thực hiện một cách an toàn, khoa học nhằm hạn chế tối đa biến chứng, không gây đau nhức, ê buốt răng trong và sau khi hoàn thiện.</span></p>
                <ul style="text-align: justify;">
                    <li><strong>Bước 1</strong>: <strong>Đánh giá và lập kế hoạch</strong>: Bước đầu tiên là thăm khám và đánh giá tình trạng răng miệng của bệnh nhân. Nha sĩ sẽ sử dụng X-quang hoặc CT scan để xác định vị trí cấy ghép và đảm bảo rằng có đủ xương hỗ trợ implant, lấy dấu bằng kỹ thuật số Scan, làm máng 3D và xét nghiệm tổng quát đảm bảo sức khỏe cho thủ thuật cấy ghép Implant</li>
                    <li><strong>Bước 2 </strong>:<strong>Gây tê và chuẩn bị vị trí cấy ghép</strong><strong>&nbsp;implant</strong>: Implant, thường làm từ titanium, được đặt vào xương hàm. Một số trường hợp có thể cần thêm xương ghép để đảm bảo implant ổn định. Cắm trụ Implant ( làm phục hình tạm ngay nếu cần)</li>
                    <li>Bước 3: Tái khám lành thương sau 1 – 2 tuần sau ngày cắm Implant</li>
                    <li><strong>Bước 4</strong>: <strong>Thời gian lành thương và Đặt abutment</strong> : Khám sau 4 tuần từ ngày cắm Implant, lấy dấu bằng công nghệ số Scan làm răng sứ sau 4 tuần – 6 tháng ( tùy loại dịch vụ implant, thường sau 4 tuần&nbsp; từ ngày cắm)</li>
                    <li><strong>Bước 5</strong>: <strong>Lắp mão răng</strong>: Cuối cùng, mão răng giả được làm theo kích thước và hình dáng phù hợp với răng thật của bệnh nhân sẽ được lắp đặt lên trên abutment. Gắn sứ sau lấy dấu kỹ thuật số&nbsp; ngày nay nhanh chỉ 24h – 72 h (thường 24h)</li>
                    <li><strong>Bước </strong>: <strong>Theo dõi và chăm sóc sau cấy ghép</strong>: Bệnh nhân sẽ cần thăm nha sĩ định kỳ 6 tháng&nbsp; để kiểm tra và chăm sóc implant cũng như vệ sinh răng miệng đúng cách</li>
                </ul>
                <p style="text-align: justify;"><strong>Hiện tại, Nha Khoa Kim cấy ghép răng bằng công nghệ Safest với nhiều ưu điểm vượt trội:</strong></p>
                <p style="text-align: justify;"><strong><em>Safest là viết tắt của Safe (an toàn) – Aesthetic (thẩm mỹ) – Fast (nhanh chóng) – Exact (chính xác) – Saving (tiết kiệm) – Technology (công nghệ)</em></strong>. Đây là công nghệ mới trong cấy ghép Implant được Nha Khoa Kim ứng dụng đồng bộ trên toàn hệ thống nhằm mang đến cho khách hàng trải nghiệm nhẹ nhàng, thoải mái khi điều trị với những đặc điểm:</p>
                <p style="text-align: justify;">– Cấy ghép Implant 100% bằng máng định vị in 3D, thời gian thực hiện nhanh chóng, chỉ 5 – 15 phút 1 trụ Implant hoặc sử dụng Robot X-Guide công nghệ  thế giới cấy ghép implant với độ chính xác lên đến 0,1mm.</p>
                <p style="text-align: justify;">– Hạn chế xâm lấn tối đa. Trường hợp mô nướu khách hàng thuận lợi thì bác sĩ sẽ không cần dùng dao, không rạch nướu (lợi) nên gần như không chảy máu, không đau, lành thương nhanh sau thực hiện.</p>
                <p style="text-align: justify;">– Với phần mềm kỹ thuật số R2Gate dựa trên dữ liệu chi tiết từ chụp X-quang Conebeam CT 3D và máy scan trong miệng 3D Trios, iTero, bác sĩ sẽ lên mô phỏng, tính toán kỹ lưỡng cắm Implant chính xác tuyệt đối và khách hàng sẽ thấy được kết quả trước khi điều trị nên không còn cảm thấy lo lắng.</p>
                <p style="text-align: center;"><img decoding="async" class="aligncenter wp-image-45665 img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-02.jpg" alt="Quy trình cấy ghép Implant " width="850" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-02.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-02.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-02-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-02-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-02-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-02.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-02-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-02-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-02-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Quy trình cấy ghép Implant chuẩn y khoa tại Nha Khoa Kim</em></span></p>
                <p style="text-align: justify;"><span style="font-weight: 400;">Ngoài ra Nha Khoa Kim đã đầu tư Robot định vị X-Guide </span><span style="font-weight: 400;">công nghệ hiện đại bậc nhất thế giới trong định vị và cấy ghép răng implant với </span><span style="font-weight: 400;">những ưu điểm nổi bật:</span></p>
                <ul style="text-align: justify;">
                    <li style="font-weight: 400; text-align: justify;" aria-level="1"><span style="font-weight: 400;">Chính xác gấp 11 lần phương pháp truyền thống: Sử dụng camera đa chiều mô phỏng quá trình cắm implant dưới dạng 3D, hiển thị chiều sâu, độ hướng mũi khoan chính xác đến 0,1 mm.</span></li>
                    <li style="font-weight: 400; text-align: justify;" aria-level="1"><span style="font-weight: 400;">Đảm bảo an toàn cao nhất: Hệ thống cảnh báo khi mũi khoan tiếp cận gần cấu trúc thần kinh, xoang hàm, giúp các bác sĩ có những điều chỉnh kịp thời, hợp lý.</span></li>
                    <li style="font-weight: 400; text-align: justify;" aria-level="1"><span style="font-weight: 400;">Hạn chế xâm lấn, giảm đau, lành thương nhanh hơn: Sử dụng AI để tính toán và tinh chỉnh, giúp bác sĩ lên kế hoạch chính xác từ ban đầu.</span></li>
                    <li style="font-weight: 400; text-align: justify;" aria-level="1"><span style="font-weight: 400;">Thực hiện nhanh chóng: bác sĩ có thể tiến hành trồng implant ngay trong buổi gặp và chỉ mất từ 5 – 10 phút cho một trụ implant.</span></li>
                </ul>
                <p style="text-align: center;"><img decoding="async" class="aligncenter wp-image-45664 img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-03.jpg" alt="Công nghệ cấy ghép implant " width="850" height="382" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-03.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-03.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-03-768x419.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-03-555x303.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-03-20x11.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-03.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-03-768x419.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-03-555x303.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-03-20x11.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Cấy ghép Implant bằng Robot X-Guide tại Nha Khoa Kim giúp thấy đường đi của Implant phía trong xương nên đảm bảo được tính an toàn, giảm đau, thẩm mỹ theo đúng kế hoạch và rút ngắn thời gian điều trị</em></span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Cay_ghep_Implant_mat_bao_lau"></span><span style="font-size: 24px; color: #ff9900;"><b>Cấy ghép Implant mất bao lâu?</b></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Cấy ghép Implant mất bao lâu sẽ tùy thuộc vào rất nhiều yếu tố như tình trạng sức khỏe, số lượng răng bị mất, mức độ tiêu xương, teo nướu, khả năng lành thương và tích hợp của trụ Implant với xương hàm.&nbsp;</span></p>
                <p style="text-align: justify;"><span style="font-weight: 400;">Thực tế, thời gian cắm một trụ Implant lên xương hàm (trường hợp đơn giản) sẽ cần khoảng 15 – 30 phút. Khoảng một tuần sau cấy ghép, nướu răng (mô mềm) xung quanh Implant sẽ lành, đây là thời điểm nên quay lại để tái khám, cắt chỉ, chụp phim kiểm tra.</span></p>
                <p style="text-align: justify;"><span style="font-weight: 400;">Và cần 1 – 6 tháng thì trụ Implant mới tích hợp tốt với xương hàm và nướu. Lúc này, bác sĩ mới có thể tiến hành bọc mão sứ được thiết kế theo đúng tỉ lệ chuẩn cho khách hàng.</span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Cay_ghep_Implant_co_dau_khong"></span><span style="color: #ff9900;"><strong>Cấy ghép Implant có đau không?</strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Cấy ghép Implant sẽ không đau do trong quá trình thực hiện, khách hàng được gây tê cục bộ. Sau khi đặt Implant, khách hàng có thể cảm thấy đau nhẹ hoặc khó chịu nhẹ trong vòng 3 ngày đầu. Bác sĩ sẽ hướng dẫn khách hàng chăm sóc răng miệng và kê đơn thuốc giảm đau. Nếu cơn đau không thể kiểm soát, cần đến ngay nha khoa để kịp thời xử lý.</span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Phuong_phap_cay_ghep_Implant_khong_dau_bang_mang_dinh_vi"></span><strong><span style="color: #ff8c00;">Phương pháp cấy ghép Implant không đau bằng máng định vị&nbsp;</span></strong><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Máng định vị được thiết kế vừa khít với khung hàm để hở khoảng trống vị trí mất răng, hỗ trợ bác sĩ xác định chính xác vị trí và hướng đặt trụ, giúp tăng tỷ lệ thành công cho mỗi ca Implant. </span><span style="font-weight: 400;">Máng sẽ được </span><span style="font-weight: 400;">thiết kế bằng phần mềm kỹ thuật số R2Gate dựa trên dữ liệu chi tiết từ chụp X-quang Conebeam CT 3D và máy scan trong miệng 3D Trios, iTero. Từ phần mềm R2Gate, bác sĩ cũng sẽ lên mô phỏng, giả lập quá trình cắm Implant ảo giúp tính toán trước kế hoạch điều trị cũng như xác định chính xác 100% vị trí cắm trụ implant.</span></p>
                <p style="text-align: center;"><img decoding="async" class="aligncenter wp-image-47742 img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-01-scaled.jpg" alt="Phương pháp cấy ghép Implant không đau bằng máng định vị&nbsp;" width="850" height="394" data-src="https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-01-scaled.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-01-scaled.jpg 2560w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-01-scaled-768x432.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-01-scaled-555x312.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-01-scaled-20x11.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-01-scaled.jpg 2560w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-01-scaled-768x432.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-01-scaled-555x312.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-01-scaled-20x11.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Phương pháp cấy ghép Implant không đau bằng máng định vị</em></span></p>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="Khong_dau_khong_chay_mau"></span><b>Không đau, không chảy máu</b><span class="ez-toc-section-end"></span></h3>
                <p style="text-align: justify;"><span style="font-weight: 400;">Kỹ thuật cắm Implant bằng máng định vị hạn chế xâm lấn tối đa. Trường hợp mô nướu khách hàng thuận lợi thì bác sĩ sẽ không cần dùng dao, không rạch nướu (lợi) nên gần như không chảy máu, không đau, lành thương nhanh sau thực hiện.</span></p>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="Chinh_xac_an_toan_tuyet_doi"></span><b>Chính xác, an toàn tuyệt đối</b><span class="ez-toc-section-end"></span></h3>
                <p style="text-align: justify;"><span style="font-weight: 400;">Máng định vị được </span><span style="font-weight: 400;">thiết kế bằng phần mềm kỹ thuật số R2Gate dựa trên dữ liệu chi tiết từ chụp X-quang Conebeam CT 3D và máy scan trong miệng 3D Trios, iTero nên sẽ vừa khít với khung hàm và hở khoảng trống tại vị trí mất răng, hỗ trợ bác sĩ xác định chính xác vị trí và hướng đặt trụ, giúp tăng tỷ lệ thành công cho mỗi ca Implant.</span><span style="font-weight: 400;">&nbsp;</span></p>
                <p style="text-align: center;"><img decoding="async" class="aligncenter wp-image-47743 img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-03-scaled.jpg" alt="Công nghệ cắm implant hiện đại" width="850" height="394" data-src="https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-03-scaled.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-03-scaled.jpg 2560w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-03-scaled-768x432.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-03-scaled-555x312.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-03-scaled-20x11.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-03-scaled.jpg 2560w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-03-scaled-768x432.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-03-scaled-555x312.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2023/08/NKK_web-implant-03-scaled-20x11.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><em><span style="font-size: 14px;">Máng định vị hạn chế xâm lấn, định vị chính xác giúp nâng cao hiệu quả</span></em></p>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="Cay_ghep_nhanh_chong_va_lanh_thuong_nhanh"></span><b>Cấy ghép nhanh chóng và lành thương nhanh</b><span class="ez-toc-section-end"></span></h3>
                <p style="text-align: justify;"><span style="font-weight: 400;">Trước khi thực hiện, bác sĩ sẽ lên mô phỏng, giả lập quá trình cắm Implant, tính toán trước kỹ lưỡng kế hoạch điều trị nên thời gian cắm Implant thực tế diễn ra nhanh chóng (chỉ&nbsp; </span><span style="font-weight: 400;">3 – 5 phút 1 trụ Implant), đồng thời hạn chế xâm lấn tối đa nên nhanh lành thương.</span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Nen_cay_ghep_Implant_o_dau_tot_nhat"></span><span style="color: #ff9900;"><strong>Nên cấy ghép Implant ở đâu tốt nhất?</strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;">Nha Khoa Kim là địa chỉ cấy ghép implant an toàn, uy tín và được khách hàng đánh giá là địa chỉ cấy ghép implant tốt hiện nay. Trong năm 2023, Nha Khoa Kim đã đạt được cột mốc quan trọng trong việc phát triển mô hình nha khoa kỹ thuật số, triển khai công nghệ cấy ghép Implant Safest.</p>
                <p style="text-align: justify;">Công nghệ này sở hữu những ưu điểm vượt trội: thời gian đặt Implant nhanh chóng, chỉ 3 – 5 phút cho 1 trụ Implant; gần như không đau, không chảy máu, trường hợp mô nướu khách thuận lợi, bác sĩ sẽ không cần dùng dao, không rạch vạt.</p>
                <p style="text-align: justify;">Vị trí Implant chính xác tuyệt đối như kế hoạch nhờ sử dụng công nghệ phần mềm mới; an toàn tối đa, lành thương nhanh, không sang chấn; hoàn tất răng sứ trên Implant chỉ 4 tuần và nếu xương thuận lợi có thể chỉ trong 24h – 48h, rất thuận tiện cho khách hàng không có nhiều thời gian.&nbsp;</p>
                <p style="text-align: justify;"><span style="font-weight: 400;">Thành công đem lại nụ cười rạng rỡ và chức năng ăn nhai tốt cho rất nhiều khách hàng, Nha Khoa Kim tự hào là hệ thống nha khoa uy tín cấy ghép Implant an toàn  Việt Nam với:</span></p>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="Doi_ngu_bac_si_chuyen_mon_gioi"></span><strong>Đội ngũ bác sĩ chuyên môn giỏi</strong><span class="ez-toc-section-end"></span></h3>
                <ul style="text-align: justify;">
                    <li style="text-align: justify;"><span style="font-weight: 400;">Tất cả phòng khám Nha Khoa Kim đều có bác sĩ sở hữu chứng chỉ thực hiện Implant, chuyên môn giỏi, chẩn đoán chính xác tình trạng răng, khớp cắn chuẩn xác, độ chịu lực răng và đưa kế hoạch cấy ghép Implant tốt nhất cho mỗi khách hàng.</span></li>
                    <li style="text-align: justify;"><span style="font-weight: 400;">Thành lập Ban Implant hội chẩn, hỗ trợ những trường hợp phức tạp.</span></li>
                    <li style="text-align: justify;"><span style="font-weight: 400;">Phối hợp bác sĩ giữa các Ban chuyên môn (hàm mặt, phục hình răng sứ,..) để toàn bộ quy trình điều trị được thực hiện ở Nha Khoa Kim và đảm bảo độ an toàn, chính xác và thẩm mỹ cao.</span></li>
                </ul>
                <p style="text-align: center;"><img decoding="async" class="img-fluid aligncenter wp-image-34307" src="https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim.jpg" alt="đội ngũ bác sĩ Nha Khoa Kim" width="850" height="184" data-src="https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim.jpg 1725w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-768x202.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-1536x403.jpg 1536w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-555x146.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-24x6.jpg 24w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-36x9.jpg 36w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-48x13.jpg 48w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim.jpg 1725w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-768x202.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-1536x403.jpg 1536w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-555x146.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-24x6.jpg 24w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-36x9.jpg 36w, https://nhakhoakim.com/wp-content/uploads/2018/07/doi-ngu-bac-si-Nha-Khoa-Kim-48x13.jpg 48w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Đội ngũ bác sĩ giỏi, chuyên môn sâu đang làm việc tại hệ thống Nha Khoa Kim</em></span></p>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="He_thong_trang_thiet_bi_chuan_doan_hien_dai_chinh_xac_an_toan"></span><strong>Hệ thống trang thiết bị chuẩn đoán hiện đại, chính xác, an toàn</strong><span class="ez-toc-section-end"></span></h3>
                <ul style="text-align: justify;">
                    <li style="font-weight: 400; text-align: justify;" aria-level="1"><span style="font-weight: 400;">Ứng dụng công nghệ hiện đại bậc nhất trong chẩn đoán, điều trị: máy X-quang Conebeam CT 3D, Robot định vị X-Guide cho kết quả chính xác lên đến 0,1mm.</span></li>
                </ul>
                <p style="text-align: center;"><img decoding="async" class="aligncenter wp-image-45666 img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-X-Guide.jpg" alt="Hệ thống trang thiết bị chuẩn đoán hiện đại, chính xác, an toàn" width="700" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-X-Guide.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-X-Guide.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-X-Guide-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-X-Guide-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-X-Guide-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-X-Guide.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-X-Guide-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-X-Guide-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/Implant-X-Guide-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Hệ thống trang thiết bị chuẩn đoán hiện đại, chính xác, an toàn</em></span></p>
                <ul style="text-align: justify;">
                    <li style="font-weight: 400; text-align: justify;" aria-level="1"><span style="font-weight: 400;">Hệ thống thanh trùng trung tâm: 100% dụng cụ được tiệt trùng, mỗi khách hàng bộ dụng cụ và phòng điều trị riêng biệt bảo đảm an toàn, chống lây nhiễm chéo.</span></li>
                    <li style="font-weight: 400; text-align: justify;" aria-level="1"><span style="font-weight: 400;">Phòng cấy Implant được vô trùng tuyệt đối </span><span style="font-weight: 400;">trước và sau khi thực hiện.</span></li>
                </ul>
                <p style="text-align: center;"><img decoding="async" class="aligncenter wp-image-45552 img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-35.jpg" alt="Hệ thống thanh trùng tuyệt đối" width="850" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-35.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-35.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-35-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-35-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-35-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-35.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-35-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-35-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2016/11/IMG-VeNhaKhoaKim-35-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Hệ thống thanh trùng tuyệt đối</em></span></p>
                <ul style="text-align: justify;">
                    <li style="font-weight: 400; text-align: justify;" aria-level="1"><span style="font-weight: 400;">Sử dụng các loại trụ Implant  thế giới Mỹ, Thụy Sỹ (Nobel, Straumann, Swiss) và trụ Implant Hàn Quốc (Dio, Biotem) chi phí hợp lý, phù hợp với các đối tượng khách hàng.</span></li>
                </ul>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="Dich_vu_nha_khoa_dat_chat_luong_GCR_Hoa_Ky_va_ISO_9001_2015"></span><strong>Dịch vụ nha khoa đạt chất lượng GCR (Hoa Kỳ) và ISO 9001:2015</strong><span class="ez-toc-section-end"></span></h3>
                <ul style="text-align: justify;">
                    <li style="text-align: justify;">Đặt lịch hẹn thăm khám tiện lợi, dễ dàng (website, hotline) tại tất cả hệ thống hơn 30 phòng khám Nha Khoa Kim trên toàn quốc.</li>
                    <li style="text-align: justify;">Đội ngũ nhân viên, bác sĩ tận tâm tư vấn, chăm sóc trong suốt quá trình và sau điều trị.</li>
                    <li style="text-align: justify;">Hệ thống quản lý theo dõi và chăm sóc khách hàng theo từng giai đoạn điều trị.</li>
                </ul>
                <p style="text-align: justify;"><img decoding="async" class="wp-image-45426 aligncenter img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2023/03/KIMDENTAL-GLOBAL_size-A3-scaled.jpg" alt="" width="600" height="849" data-src="https://nhakhoakim.com/wp-content/uploads/2023/03/KIMDENTAL-GLOBAL_size-A3-scaled.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2023/03/KIMDENTAL-GLOBAL_size-A3-scaled.jpg 1810w, https://nhakhoakim.com/wp-content/uploads/2023/03/KIMDENTAL-GLOBAL_size-A3-scaled-768x1086.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2023/03/KIMDENTAL-GLOBAL_size-A3-scaled-555x785.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2023/03/KIMDENTAL-GLOBAL_size-A3-scaled-14x20.jpg 14w" data-sizes="(max-width: 600px) 100vw, 600px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2023/03/KIMDENTAL-GLOBAL_size-A3-scaled.jpg 1810w, https://nhakhoakim.com/wp-content/uploads/2023/03/KIMDENTAL-GLOBAL_size-A3-scaled-768x1086.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2023/03/KIMDENTAL-GLOBAL_size-A3-scaled-555x785.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2023/03/KIMDENTAL-GLOBAL_size-A3-scaled-14x20.jpg 14w" sizes="(max-width: 600px) 100vw, 600px"></p>
                <p style="text-align: center;"><img decoding="async" class="wp-image-45427 aligncenter img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2023/03/ISO-9001-NKK-2022_size-A3-scaled.jpg" alt="" width="600" height="849" data-src="https://nhakhoakim.com/wp-content/uploads/2023/03/ISO-9001-NKK-2022_size-A3-scaled.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2023/03/ISO-9001-NKK-2022_size-A3-scaled.jpg 1810w, https://nhakhoakim.com/wp-content/uploads/2023/03/ISO-9001-NKK-2022_size-A3-scaled-768x1086.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2023/03/ISO-9001-NKK-2022_size-A3-scaled-555x785.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2023/03/ISO-9001-NKK-2022_size-A3-scaled-14x20.jpg 14w" data-sizes="(max-width: 600px) 100vw, 600px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2023/03/ISO-9001-NKK-2022_size-A3-scaled.jpg 1810w, https://nhakhoakim.com/wp-content/uploads/2023/03/ISO-9001-NKK-2022_size-A3-scaled-768x1086.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2023/03/ISO-9001-NKK-2022_size-A3-scaled-555x785.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2023/03/ISO-9001-NKK-2022_size-A3-scaled-14x20.jpg 14w" sizes="(max-width: 600px) 100vw, 600px"><span style="font-size: 14px;"><em>Nha Khoa Kim đạt được chứng nhận Tiêu chuẩn quản lý chất lượng quốc tế ISO 9001:2015 Vương Quốc Anh cấp và đạt chất lượng</em><em> GCR nha khoa uy tín do Hoa Kỳ đánh giá tất cả các phòng khám nha khoa toàn cầu</em></span></p>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="Thong_tin_ro_rang_minh_bach"></span><span id="Thong_tin_ro_rang_minh_bach" class="ez-toc-section"></span><strong>Thông tin rõ ràng, minh bạch</strong><span class="ez-toc-section-end"></span></h3>
                <ul style="text-align: justify;">
                    <li style="text-align: justify;">Hồ sơ điện tử đầy đủ chi tiết theo từng tình trạng của khách hàng trên toàn hệ thống.</li>
                    <li style="text-align: justify;">Giá niêm yết, tư vấn rõ ràng, minh bạch.</li>
                    <li style="text-align: justify;">Chế độ bảo hành dễ dàng, tiện lợi tại hơn 30 phòng khám Nha Khoa Kim trên toàn quốc.</li>
                </ul>
                <p style="text-align: justify;">Với những ưu điểm vượt trội về chất lượng, dịch vụ, công nghệ, Nha Khoa Kim sẽ giúp bạn phục hồi răng bị mất hoàn hảo nhất. Nếu có bất kỳ thắc mắc về dịch vụ cấy ghép Implant, bạn đừng ngần ngại liên hệ hoặc đến trực tiếp các phòng khám Nha Khoa Kim để được bác sĩ tư vấn cụ thể nhé!</p>
                <p style="text-align: justify;">Mỗi phòng khám thuộc hệ thống Nha Khoa Kim được sở y tế các tỉnh thành thẩm định các doanh mục kỹ thuật khác nhau. Quý khách sẽ được thực hiện các dịch vụ theo đúng những danh mục kỹ thuật mà sở y tế cho phép. Những danh mục khác sẽ được thực hiện tại bệnh viện.</p>
                <p style="text-align: justify;">&nbsp;</p>
                <div class="form-callback-required" style="text-align: justify;">&nbsp;<a class="mx-auto" href="/dat-lich-hen#callback-required" data-modal-target="#callback-required"><img width="320" height="140" class="img-fluid" src="https://nhakhoakim.com/wp-content/themes/kimdental-child/assets/images/call-back.gif" title="Yêu cầu gọi lại"></a></div>
                <p style="text-align: justify;">&nbsp;</p>

                <!-- THÔNG CÁO -->
                <div class="bg-blue-default text-white p-3 sologan mb-3">
                    <p style="color: black" class="text-justify text-sologan">
                        Mỗi phòng khám thuộc hệ thống Nha Khoa Kim được Sở Y tế các tỉnh thành thẩm định các danh mục kỹ thuật khác nhau.
                        Quý khách sẽ được thực hiện các dịch vụ theo đúng những danh mục kỹ thuật mà Sở Y tế cho phép.
                        Những danh mục khác sẽ được thực hiện tại bệnh viện.
                    </p>
                </div>
                <!-- FORM ĐẶT LỊCH HẸN -->
                <!--div class="form-appointment mb-6">
                          </div-->
            </div>
        </div>

        <!-- ====================== SIDEBAR ====================== -->
        <div class="col-lg-3 col-md-12">

            <!-- Sidebar BANNER -->
            <!-- Tin mới nhất -->
            <div style="position:sticky;top:90px" class="border-bottom pb-4 mb-4">
                <p class="font-size-1 font-weight-semi-bold text-uppercase mb-3">Tin mới nhất</p>
                <div class="font-size-1 text-lh-md text-secondary mb-2">
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng" href="https://nhakhoakim.com/chinh-thuc-ra-mat-zalo-app-nha-khoa-kim-voi-nhieu-tien-ich-cho-khach-hang.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2024/04/ThumbWeb-1200x628-ZaloApp-01-100x100.jpg" alt="Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng" data-src="https://nhakhoakim.com/wp-content/uploads/2024/04/ThumbWeb-1200x628-ZaloApp-01-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ" href="https://nhakhoakim.com/nha-khoa-kim-voi-doi-tac-tin-cay-invisalign-hoa-ky-va-implant-straumann-thuy-sy.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2024/01/NKK_THUMB-DOI-TAC-TIN-CAY-01-100x100.jpg" alt="Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ" data-src="https://nhakhoakim.com/wp-content/uploads/2024/01/NKK_THUMB-DOI-TAC-TIN-CAY-01-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Nha Khoa Kim tự hào là đối tác toàn cầu của Đại học Harvard" href="https://nhakhoakim.com/nha-khoa-kim-tu-hao-la-doi-tac-toan-cau-cua-dai-hoc-harvard.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2023/05/Thumbnail-PR-100x100.jpg" alt="Nha Khoa Kim tự hào là đối tác toàn cầu của Đại học Harvard" data-src="https://nhakhoakim.com/wp-content/uploads/2023/05/Thumbnail-PR-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Nha Khoa Kim tự hào là đối tác toàn cầu của Đại học Harvard
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Những con số cực ấn tượng của Hành trình răng hạnh phúc tháng 10" href="https://nhakhoakim.com/nhung-con-so-cuc-an-tuong-cua-hanh-trinh-rang-hanh-phuc-thang-10.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2022/11/NKK_web-dental-tour-DH-KT-b-01-100x100.jpg" alt="Những con số cực ấn tượng của Hành trình răng hạnh phúc tháng 10" data-src="https://nhakhoakim.com/wp-content/uploads/2022/11/NKK_web-dental-tour-DH-KT-b-01-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Những con số cực ấn tượng của Hành trình răng hạnh phúc tháng 10
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Nha Khoa Kim đầu tư Robot X-guide cấy ghép Implant công nghệ Hoa Kỳ" href="https://nhakhoakim.com/nha-khoa-kim-dau-tu-robot-x-guide-cay-ghep-implant-cong-nghe-hoa-ky.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2022/08/NKK_hinh-buoi-trao-may-xguide-thumb-100x100.jpg" alt="Nha Khoa Kim đầu tư Robot X-guide cấy ghép Implant công nghệ Hoa Kỳ" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/NKK_hinh-buoi-trao-may-xguide-thumb-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Nha Khoa Kim đầu tư Robot X-guide cấy ghép Implant công nghệ Hoa Kỳ
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                </div>
            </div>
        </div>
    </div>
</div>

