@{
    ViewBag.Title = "NhaChu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container space-1">
    <div class="row">
        <!-- ====================== POST CONTENT ================= -->
        <div class="col-lg-9 col-sm-12 column-page col-xs-12" id="post-content">
            <h1 class="font-weight-normal h2 color-yellow-default z-post-title">Điều trị viêm nha chu – Giải pháp giúp bảo vệ sức khỏe răng hàm hiệu quả</h1>
            <!--div class="post-date"></div-->
            <div id="post-content-mdetail" class="post-content">
                <p style="text-align: justify;"><i><span style="font-weight: 400;">Theo khuyến cáo của các chuyên gia, điều trị viêm nha chu phải được thực hiện càng sớm càng tốt bởi sẽ ảnh hưởng rất lớn đến sức khỏe răng miệng.&nbsp;</span></i></p>
                <div id="ez-toc-container" class="ez-toc-v2_0_66_1 ez-toc-wrap-left counter-hierarchy ez-toc-counter ez-toc-custom ez-toc-container-direction">
                    <p class="ez-toc-title">Nội Dung Chính</p>
                    <label for="ez-toc-cssicon-toggle-item-6650414e1d801" class="ez-toc-cssicon-toggle-label"><span class=""><span class="eztoc-hide" style="display:none;">Toggle</span><span class="ez-toc-icon-toggle-span"><svg style="fill: #1e73be;color:#1e73be" xmlns="http://www.w3.org/2000/svg" class="list-377408" width="20px" height="20px" viewBox="0 0 24 24" fill="none"><path d="M6 6H4v2h2V6zm14 0H8v2h12V6zM4 11h2v2H4v-2zm16 0H8v2h12v-2zM4 16h2v2H4v-2zm16 0H8v2h12v-2z" fill="currentColor"></path></svg><svg style="fill: #1e73be;color:#1e73be" class="arrow-unsorted-368013" xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny"><path d="M18.2 9.3l-6.2-6.3-6.2 6.3c-.2.2-.3.4-.3.7s.1.5.3.7c.2.2.4.3.7.3h11c.3 0 .5-.1.7-.3.2-.2.3-.5.3-.7s-.1-.5-.3-.7zM5.8 14.7l6.2 6.3 6.2-6.3c.2-.2.3-.5.3-.7s-.1-.5-.3-.7c-.2-.2-.4-.3-.7-.3h-11c-.3 0-.5.1-.7.3-.2.2-.3.5-.3.7s.1.5.3.7z"></path></svg></span></span></label><input type="checkbox" id="ez-toc-cssicon-toggle-item-6650414e1d801" aria-label="Toggle"><nav><ul class="ez-toc-list ez-toc-list-level-1"><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#Benh_nha_chu_la_gi" title="Bệnh nha chu là gì?">Bệnh nha chu là gì?</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-2" href="#Nguyen_nhan_va_dau_hieu_viem_nha_chu_can_dieu_tri" title="Nguyên nhân và dấu hiệu viêm nha chu cần điều trị">Nguyên nhân và dấu hiệu viêm nha chu cần điều trị</a><ul class="ez-toc-list-level-3"><li class="ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-3" href="#Nguyen_nhan_dan_den_benh_viem_nha_chu" title="Nguyên nhân dẫn đến bệnh viêm nha chu">Nguyên nhân dẫn đến bệnh viêm nha chu</a></li><li class="ez-toc-page-1 ez-toc-heading-level-3"><a class="ez-toc-link ez-toc-heading-4" href="#Trieu_chung_cua_benh_viem_nha_chu" title="Triệu chứng của bệnh viêm nha chu">Triệu chứng của bệnh viêm nha chu</a></li></ul></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-5" href="#Quy_trinh_chua_viem_nha_chu_tai_Nha_Khoa_Kim" title="Quy trình chữa viêm nha chu tại Nha Khoa Kim">Quy trình chữa viêm nha chu tại Nha Khoa Kim</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-6" href="#Dieu_tri_viem_nha_chu_hieu_qua_tai_Nha_Khoa_Kim" title="Điều trị viêm nha chu hiệu quả tại Nha Khoa Kim">Điều trị viêm nha chu hiệu quả tại Nha Khoa Kim</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-7" href="#Phong_benh_nha_chu_nhu_the_nao" title="Phòng bệnh nha chu như thế nào?">Phòng bệnh nha chu như thế nào?</a></li></ul></nav>
                </div>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Benh_nha_chu_la_gi"></span><span style="color: #ff9900; font-size: 24px;"><strong>Bệnh nha chu là gì?</strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Bệnh nha chu là một bệnh nhiễm trùng nướu làm tổn thương mô mềm và phá hủy xương xung quanh răng. Trường hợp nhiễm trùng trở nên nghiêm trọng có thể khiến răng bị lỏng hoặc dẫn đến mất răng.</span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Nguyen_nhan_va_dau_hieu_viem_nha_chu_can_dieu_tri"></span><span style="font-size: 24px;"><strong><span style="color: #ff9900;">Nguyên nhân và dấu hiệu viêm nha chu cần điều trị</span></strong></span><span class="ez-toc-section-end"></span></h2>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="Nguyen_nhan_dan_den_benh_viem_nha_chu"></span><strong><span style="color: #000000;">Nguyên nhân dẫn đến bệnh viêm nha chu</span></strong><span class="ez-toc-section-end"></span></h3>
                <p style="text-align: justify;"><span style="font-weight: 400;">Nguyên nhân chính của bệnh viêm nha chu là do vệ sinh răng miệng kém tạo điều kiện cho các mảng bám vi khuẩn tồn đọng trên răng, nướu. Lâu ngày, các mảng bám đó trở thành vôi (cao) răng và dẫn đến viêm nha chu nếu không được điều trị đúng cách, kịp thời.</span></p>
                <h3 style="text-align: justify;"><span class="ez-toc-section" id="Trieu_chung_cua_benh_viem_nha_chu"></span><strong><span style="color: #000000;">Triệu chứng của bệnh viêm nha chu</span></strong><span class="ez-toc-section-end"></span></h3>
                <p style="text-align: justify;"><span style="font-weight: 400;">Các dấu hiệu viêm nha chu dễ nhận biết là:</span></p>
                <ul style="text-align: justify;">
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Vôi răng, </span><span style="font-weight: 400;">cao răng</span><span style="font-weight: 400;"> đóng thành mảng ở cổ răng.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Sưng nướu, lợi. Có thể thấy dịch mủ chảy ra.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Chảy máu ở lợi, nướu, đặc biệt là khi chải răng hoặc nhai thức ăn.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Nướu không bao chặt răng, làm cho răng trông dài hơn bình thường.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Hôi miệng.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Răng bị lung lay.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Răng thưa</span><span style="font-weight: 400;"> do bị di lệch.</span></li>
                </ul>
                <p style="text-align: center;"><img fetchpriority="high" decoding="async" class="wp-image-45776 aligncenter img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-2.jpg" alt="điều trị viêm nha chu tại Nha Khoa Kim" width="700" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-2.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-2.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-2-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-2-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-2-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-2.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-2-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-2-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-2-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Các trường hợp viêm nha chu cần được điều trị</em></span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Quy_trinh_chua_viem_nha_chu_tai_Nha_Khoa_Kim"></span><span style="color: #ff9900; font-size: 24px;"><strong>Quy trình chữa viêm nha chu tại Nha Khoa Kim</strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Với kinh nghiệm lâm sàng phong phú và được hỗ trợ bởi máy móc hiện đại, các bác sĩ </span><a href="https://nhakhoakim.com/"><span style="font-weight: 400;">Nha Khoa Kim</span></a><span style="font-weight: 400;"> sẽ giúp bạn xử lý nhanh và dứt điểm bệnh viêm nha chu qua quy trình sau:</span></p>
                <ul style="text-align: justify;">
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Bước 1: Bác sĩ thăm khám, chụp X-quang kiểm tra tình trạng răng miệng và tư vấn điều trị</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Bước 2: Điều trị viêm nha chu tùy vào từng giai đoạn bệnh lý cụ thể</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Bước 3: Hướng dẫn chăm sóc răng miệng đúng cách sau khi điều trị</span></li>
                </ul>
                <p style="text-align: center;"><img decoding="async" class="aligncenter wp-image-45728 img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1.jpg" alt="điều trị viêm nha chu tại Nha Khoa Kim" width="700" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-768x549.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-768x549.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Đội ngũ bác sĩ Nha Khoa Kim trực tiếp thăm khám và điều trị cho khách hàng</em></span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Dieu_tri_viem_nha_chu_hieu_qua_tai_Nha_Khoa_Kim"></span><span style="font-size: 24px;"><strong><span style="color: #ff9900;">Điều trị viêm nha chu hiệu quả tại Nha Khoa Kim</span></strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Nha Khoa Kim là địa chỉ chăm sóc răng miệng uy tín  được nhiều khách hàng tin tưởng lựa chọn. Dù đang ở giai đoạn nào của bệnh lý viêm nha chu, khi đến Nha Khoa Kim, khách hàng cũng có thể yên tâm về kết quả nhận được.</span></p>
                <ul style="text-align: justify;">
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Đội ngũ bác sĩ giỏi chuyên môn, tay nghề cao, có chứng chỉ hành nghề trực tiếp thăm khám, tư vấn và thực hiện nhẹ nhàng giúp khách hàng cảm thấy thoải mái, yên tâm.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Hệ thống máy móc, công nghệ chẩn đoán và điều trị hiện đại, như: máy chụp X-quang, CT Cone Beam 3D… giúp bác sĩ chẩn đoán chính xác tình trạng răng miệng, từ đó lên kế hoạch điều trị chi tiết.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Hệ thống thanh trùng trung tâm: 100% dụng cụ được tiệt trùng, mỗi khách hàng một bộ dụng cụ và phòng điều trị riêng biệt đảm bảo an toàn, chống lây nhiễm chéo.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Dịch vụ nha khoa đạt chứng nhận GCR (Hoa Kỳ) và ISO 9001:2015: Đặt lịch hẹn thăm khám tiện lợi tại tất cả hệ thống hơn 30 phòng khám Nha Khoa Kim trên toàn quốc; Đội ngũ nhân viên, bác sĩ tận tâm tư vấn, chăm sóc; Hệ thống quản lý theo dõi và chăm sóc khách hàng theo từng giai đoạn điều trị.</span></li>
                </ul>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Phong_benh_nha_chu_nhu_the_nao"></span><span style="font-size: 24px;"><strong><span style="color: #ff9900;">Phòng bệnh nha chu như thế nào?</span></strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><b>Vệ sinh răng miệng đúng cách: </b><span style="font-weight: 400;">Đánh răng trong 2 phút, ít nhất 2 lần/ngày vào buổi sáng và trước khi đi ngủ, kết hợp dùng chỉ nha khoa, nước súc miệng… để loại bỏ các mảng bám tích tụ trên răng nướu.</span></p>
                <p style="text-align: justify;"><b>Khám răng miệng định kỳ</b><span style="font-weight: 400;">: Ít nhất 6 đến 12 tháng một lần nên đến nha khoa kiểm tra để phát hiện và điều trị kịp thời các bệnh lý răng miệng, tránh những biến chứng ảnh hưởng sức khỏe toàn diện sau này.</span></p>
                <p style="text-align: justify;"><b>Chế độ ăn uống lành mạnh: </b><span style="font-weight: 400;">Ăn nhiều thực phẩm giàu chất xơ và vitamin (rau xanh, các loại đậu, cá…); bỏ thói quen uống nhiều rượu bia, hút thuốc lá – tác nhân gây bệnh viêm nha chu phổ biến nhất.</span></p>
                <p style="text-align: center;"><img decoding="async" class="wp-image-45777 aligncenter img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-3.jpg" alt="đánh răng đúng cách phòng bệnh viêm nha chu" width="700" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-3.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-3.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-3-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-3-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-3-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-3.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-3-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-3-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-viem-nha-chu-Nha-Khoa-Kim-3-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Vệ sinh răng miệng đúng cách là một trong những biện pháp phòng bệnh nha chu tốt nhất</em></span></p>
                <p style="text-align: justify;">Nha Khoa Kim sẽ là địa chỉ <strong>điều trị viêm nha chu</strong> uy tín mà bạn có thể tin tưởng lựa chọn. Chúng tôi hân hạnh được đón tiếp và phục vụ quý khách hàng đến thăm khám, tư vấn và chỉnh nha vào tất cả các ngày trong tuần!</p>
                <p style="text-align: right;"><span style="color: #ff0000;">MSTT : 2011</span></p>

                <!-- THÔNG CÁO -->
                <div class="bg-blue-default text-white p-3 sologan mb-3">
                    <p style="color:black" class="text-justify text-sologan">Mỗi phòng khám thuộc hệ thống Nha Khoa Kim được Sở Y tế các tỉnh thành thẩm định các danh mục kỹ thuật khác nhau. Quý khách sẽ được thực hiện các dịch vụ theo đúng những danh mục kỹ thuật mà Sở Y tế cho phép. Những danh mục khác sẽ được thực hiện tại bệnh viện.</p>
                </div>
                <!-- TAGS -->
                <!-- FORM ĐẶT LỊCH HẸN -->
                <!--div class="form-appointment mb-6">
                          </div-->
            </div>
        </div>

        <!-- ====================== SIDEBAR ====================== -->
        <div class="col-lg-3 col-md-12">

            <!-- Sidebar BANNER -->
            <!-- Tin mới nhất -->
            <div style="position:sticky;top:90px" class="border-bottom pb-4 mb-4">
                <p class="font-size-1 font-weight-semi-bold text-uppercase mb-3">Tin mới nhất</p>
                <div class="font-size-1 text-lh-md text-secondary mb-2">
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng" href="https://nhakhoakim.com/chinh-thuc-ra-mat-zalo-app-nha-khoa-kim-voi-nhieu-tien-ich-cho-khach-hang.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2024/04/ThumbWeb-1200x628-ZaloApp-01-100x100.jpg" alt="Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng" data-src="https://nhakhoakim.com/wp-content/uploads/2024/04/ThumbWeb-1200x628-ZaloApp-01-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ" href="https://nhakhoakim.com/nha-khoa-kim-voi-doi-tac-tin-cay-invisalign-hoa-ky-va-implant-straumann-thuy-sy.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2024/01/NKK_THUMB-DOI-TAC-TIN-CAY-01-100x100.jpg" alt="Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ" data-src="https://nhakhoakim.com/wp-content/uploads/2024/01/NKK_THUMB-DOI-TAC-TIN-CAY-01-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Nha Khoa Kim tự hào là đối tác toàn cầu của Đại học Harvard" href="https://nhakhoakim.com/nha-khoa-kim-tu-hao-la-doi-tac-toan-cau-cua-dai-hoc-harvard.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2023/05/Thumbnail-PR-100x100.jpg" alt="Nha Khoa Kim tự hào là đối tác toàn cầu của Đại học Harvard" data-src="https://nhakhoakim.com/wp-content/uploads/2023/05/Thumbnail-PR-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Nha Khoa Kim tự hào là đối tác toàn cầu của Đại học Harvard
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Những con số cực ấn tượng của Hành trình răng hạnh phúc tháng 10" href="https://nhakhoakim.com/nhung-con-so-cuc-an-tuong-cua-hanh-trinh-rang-hanh-phuc-thang-10.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2022/11/NKK_web-dental-tour-DH-KT-b-01-100x100.jpg" alt="Những con số cực ấn tượng của Hành trình răng hạnh phúc tháng 10" data-src="https://nhakhoakim.com/wp-content/uploads/2022/11/NKK_web-dental-tour-DH-KT-b-01-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Những con số cực ấn tượng của Hành trình răng hạnh phúc tháng 10
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Nha Khoa Kim đầu tư Robot X-guide cấy ghép Implant công nghệ Hoa Kỳ" href="https://nhakhoakim.com/nha-khoa-kim-dau-tu-robot-x-guide-cay-ghep-implant-cong-nghe-hoa-ky.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2022/08/NKK_hinh-buoi-trao-may-xguide-thumb-100x100.jpg" alt="Nha Khoa Kim đầu tư Robot X-guide cấy ghép Implant công nghệ Hoa Kỳ" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/NKK_hinh-buoi-trao-may-xguide-thumb-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Nha Khoa Kim đầu tư Robot X-guide cấy ghép Implant công nghệ Hoa Kỳ
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                </div>
            </div>
        </div>
    </div>
</div>
