@{
    ViewBag.Title = "Price";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div class="position-relative justify-content-center align-content-center align-items-center mx-auto show-desktop hide-mobile">
    <a target="_blank" title="[Top Banner] Giá dịch vụ nha khoa tại Nha Khoa Kim 2024" href="https://nhakhoakim.com/uu-dai-nieng-rang">
        <img width="1920" height="520" src="https://nhakhoakim.com/wp-content/uploads/2024/05/Banner-uu-dai-nieng-rang-t5.24-pc.jpg" alt="[Top Banner Desktop] Giá dịch vụ nha khoa tại Nha Khoa Kim 2024" class="w-100 img-fluid" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Banner-uu-dai-nieng-rang-t5.24-pc.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
    </a>
</div>
<!-- Header End -->
<!-- Price Start -->
<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">

            <h1 class="display-3 mb-4">Giá dịch vụ nha khoa tại Nha Khoa Kim 2024</h1>
            <p class="mb-0">
                Nha Khoa Kim là nha khoa uy tín tại Việt Nam đạt tiêu chuẩn chất lượng ISO 9001:2015 Vương Quốc Anh và GCR Hoa Kỳ. Hoạt động dựa trên các tiêu chí thông tin, dữ liệu của Tổ chức Y tế Thế giới (WHO), Liên đoàn Nha khoa Thế giới (FDI World Dental Federation), Chiến lược Chăm sóc răng miệng khu vực Đông Nam Á và sứ mệnh dẫn dắt sự thay đổi với mục tiêu phát triển bền vững của Liên Hiệp Quốc.

                Nha Khoa Kim được Chính Phủ Singapore đầu tư và cũng là đối tác toàn cầu của ĐH Harvard được ký kết năm 2024 với mục tiêu phát triển bền vững.
            </p>
        </div>

        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
            <div id="attachment_30104" style="text-align: center;" class="wp-caption aligncenter"><img fetchpriority="high" decoding="async" aria-describedby="caption-attachment-30104" class="img-fluid wp-image-30104" src="https://nhakhoakim.com/wp-content/uploads/2020/06/chung-nhan-quoc-te.jpg" alt="Chứng nhận Tiêu chuẩn quản lý chất lượng quốc tế ISO 9001:2015 Vương Quốc Anh cấp và giải thưởng danh giá Top 50 GCR nha khoa chất lượng toàn cầu do Hoa Kỳ đánh giá tất cả các phòng khám nha khoa toàn cầu." width="730" height="456" data-src="https://nhakhoakim.com/wp-content/uploads/2020/06/chung-nhan-quoc-te.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2020/06/chung-nhan-quoc-te.jpg 800w, https://nhakhoakim.com/wp-content/uploads/2020/06/chung-nhan-quoc-te-768x480.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2020/06/chung-nhan-quoc-te-555x347.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2020/06/chung-nhan-quoc-te-20x13.jpg 20w" data-sizes="(max-width: 800px) 100vw, 800px" data-style="" data-l="" style="" srcset="https://nhakhoakim.com/wp-content/uploads/2020/06/chung-nhan-quoc-te.jpg 800w, https://nhakhoakim.com/wp-content/uploads/2020/06/chung-nhan-quoc-te-768x480.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2020/06/chung-nhan-quoc-te-555x347.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2020/06/chung-nhan-quoc-te-20x13.jpg 20w" sizes="(max-width: 800px) 100vw, 800px"><p id="caption-attachment-30104" class="wp-caption-text"><em>Chứng nhận Tiêu chuẩn quản lý chất lượng quốc tế ISO 9001:2015 Vương Quốc Anh cấp và đ<span style="font-size: 14px;">ạt chứng nhận </span> GCR nha khoa chất lượng toàn cầu do Hoa Kỳ đánh giá tất cả các phòng khám nha khoa toàn cầu.</em></p></div>
        </div>

        <h2><span class="ez-toc-section" id="Bang_gia_dich_vu_lam_rang_moi_nhat_2024"></span><strong>Bảng giá dịch vụ làm răng mới nhất 2024</strong><span class="ez-toc-section-end"></span></h2>
        <p style="text-align: justify;">Với mong muốn khẳng định chất lượng, dịch vụ và tạo lòng tin bền vững với khách hàng, Nha Khoa Kim xây dựng chính sách bảng giá dịch vụ nha khoa hợp lý với nhiều mức giá rõ ràng cho từng dịch vụ điều trị bệnh. Đến với&nbsp;Nha Khoa Kim, khách hàng sẽ được thăm khám miễn phí và nhận các thông tin tư vấn trực tiếp từ các bác sĩ giỏi, chuyên môn cao. Bảng giá được thông tin chi tiết, rõ ràng, giúp khách hàng dễ dàng hơn trong việc lựa chọn, yên tâm điều trị.</p>


        <div class="table-responsive">
            <table class="table format-table-price" style="width: 100%; height: 2491px;">
                <thead>
                    <tr style="height: 24px;">
                        <th style="height: 24px; width: 69.2121%;"><strong>DỊCH VỤ</strong></th>
                        <th style="height: 24px; width: 10.9091%;"><strong>ĐVT</strong></th>
                        <th style="height: 24px; width: 18.6667%;"><strong>GIÁ DỊCH VỤ (VNĐ)</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="height: 65px;">
                        <td style="height: 65px; width: 98.7879%;" colspan="3">
                            <h3><span class="ez-toc-section" id="TONG_QUAT"></span>TỔNG QUÁT<span class="ez-toc-section-end"></span></h3>
                        </td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Khám tổng quát</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Lần</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>Miễn phí</strong></td>
                    </tr>
                    <tr style="height: 65px;">
                        <td style="height: 65px; width: 98.7879%;" colspan="3">
                            <h3><span class="ez-toc-section" id="DIEU_TRI_NHA_CHU"></span>ĐIỀU TRỊ NHA CHU<span class="ez-toc-section-end"></span></h3>
                        </td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Cạo vôi răng</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">2 Hàm</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>400.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Điều trị viêm nha chu Cấp 1-2</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>300.000 – 1.000.000</strong></td>
                    </tr>
                    <tr style="height: 65px;">
                        <td style="height: 65px; width: 98.7879%;" colspan="3">
                            <h3><span class="ez-toc-section" id="DIEU_TRI_NOI_NHA"></span>ĐIỀU TRỊ NỘI NHA<span class="ez-toc-section-end"></span></h3>
                        </td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Điều trị tủy</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>500.000 – 2.000.000</strong></td>
                    </tr>
                    <tr style="height: 48px;">
                        <td style="height: 48px; width: 69.2121%;">Điều trị tủy lại</td>
                        <td style="text-align: center; height: 48px; width: 10.9091%;">Răng</td>
                        <td style="height: 48px; width: 18.6667%;"><strong>2.000.000 – 3.000.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Chốt sợi không kim loại mức 1-2</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>700.000 – 1.100.000</strong></td>
                    </tr>
                    <tr style="height: 65px;">
                        <td style="height: 65px; width: 98.7879%;" colspan="3">
                            <h3><span class="ez-toc-section" id="TRAM_RANG"></span>TRÁM RĂNG<span class="ez-toc-section-end"></span></h3>
                        </td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Trám răng sữa</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>200.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Trám răng thẩm mỹ</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>500.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Trám cổ răng</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>600.000</strong></td>
                    </tr>
                    <tr style="height: 65px;">
                        <td style="height: 65px; width: 98.7879%;" colspan="3">
                            <h3><span class="ez-toc-section" id="NHO_RANG"></span>NHỔ RĂNG<span class="ez-toc-section-end"></span></h3>
                        </td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Nhổ răng sữa</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>100.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Nhổ chân răng, răng lung lay</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>300.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Nhổ răng cửa R1-2-3</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>500.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Nhổ răng nhiều chân R4-5-6-7</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>800.000</strong></td>
                    </tr>
                    <tr style="height: 65px;">
                        <td style="height: 65px; width: 98.7879%;" colspan="3">
                            <h3><span class="ez-toc-section" id="TIEU_PHAU"></span>TIỂU PHẪU<span class="ez-toc-section-end"></span></h3>
                        </td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Tiểu phẩu răng khôn – Mọc thẳng</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>1.000.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Tiểu phẩu răng khôn – Khó độ I</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>1.800.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Tiểu phẩu răng khôn – Khó độ II</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>2.500.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Tiểu phẩu răng khôn – Khó độ III</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>3.500.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Tiểu phẩu răng khôn – Khó độ IV</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>5.000.000</strong></td>
                    </tr>
                    <tr style="height: 65px;">
                        <td style="height: 65px; width: 98.7879%;" colspan="3">
                            <h3><span class="ez-toc-section" id="TAY_TRANG_RANG"></span>TẨY TRẮNG RĂNG<span class="ez-toc-section-end"></span></h3>
                        </td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Thuốc tẩy trắng tại nhà</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">1 Ống</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>500.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Tẩy trắng răng tại nhà</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">2 Hàm</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>1.300.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Tẩy trắng răng tại phòng khám</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">2 Hàm</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>3.000.000</strong></td>
                    </tr>
                    <tr style="height: 48px;">
                        <td style="height: 48px; width: 69.2121%;">Tẩy trắng răng tại phòng khám và tại nhà</td>
                        <td style="text-align: center; height: 48px; width: 10.9091%;">Liệu trình</td>
                        <td style="height: 48px; width: 18.6667%;"><strong>3.500.000</strong></td>
                    </tr>
                    <tr style="height: 65px;">
                        <td style="height: 65px; width: 98.7879%;" colspan="3">
                            <h3><span class="ez-toc-section" id="RANG_GIA_THAO_LAP"></span>RĂNG GIẢ THÁO LẮP<span class="ez-toc-section-end"></span></h3>
                        </td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Răng các loại</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>400.000 – 1.000.000</strong></td>
                    </tr>
                    <tr style="height: 48px;">
                        <td style="height: 48px; width: 69.2121%;">Khung hàm tháo lắp</td>
                        <td style="text-align: center; height: 48px; width: 10.9091%;">1 Hàm</td>
                        <td style="height: 48px; width: 18.6667%;"><strong>5.000.000 – 6.000.000</strong></td>
                    </tr>
                    <tr style="height: 65px;">
                        <td style="height: 65px; width: 98.7879%;" colspan="3">
                            <h3><span class="ez-toc-section" id="RANG_SU_THAM_MY"></span>RĂNG SỨ THẨM MỸ<span class="ez-toc-section-end"></span></h3>
                        </td>
                    </tr>

                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Răng sứ Bio Shine HT +&nbsp; Công nghệ SwiftPerfect</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>10.500.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Dán sứ Viva +&nbsp; Công nghệ SwiftPerfect</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>6.900.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Dán sứ Viva Shine +&nbsp; Công nghệ SwiftPerfect</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>8.800.000</strong></td>
                    </tr>
                    <tr style="height: 24px;">
                        <td style="height: 24px; width: 69.2121%;">Dán sứ Viva Ultrathin +&nbsp; Công nghệ SwiftPerfect</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>12.800.000</strong></td>
                    </tr>
                    <tr style="height: 65px;">
                        <td style="height: 65px; width: 98.7879%;" colspan="3">
                            <h3><span class="ez-toc-section" id="CAY_GHEP_IMPLANT"></span>CẤY GHÉP IMPLANT<span class="ez-toc-section-end"></span></h3>
                        </td>
                    </tr>

                    <tr style="height: 48px;">
                        <td style="width: 69.2121%; height: 48px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;5. Trụ Implant + Abutment Straumann SLA + Máng định vị in 3D + Công nghệ Safest&quot;}">Liệu trình Implant + Abutment Straumann SLA + Máng định vị in 3D + Công nghệ Safest</td>
                        <td style="text-align: center; height: 48px; width: 10.9091%;">Trụ</td>
                        <td style="height: 48px; width: 18.6667%;"><strong>30.000.000</strong></td>
                    </tr>
                    <tr style="height: 48px;">
                        <td style="width: 69.2121%; height: 48px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;6. Trụ Implant + Abutment Straumann SLA Active + Máng định vị in 3D + Công nghệ Safest&quot;}">Liệu trình Implant + Abutment Straumann SLA Active + Máng định vị in 3D + Công nghệ Safest</td>
                        <td style="text-align: center; height: 48px; width: 10.9091%;">Trụ</td>
                        <td style="height: 48px; width: 18.6667%;"><strong>34.000.000</strong></td>
                    </tr>

                    <tr style="height: 24px;">
                        <td style="width: 69.2121%; height: 24px;" data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;11. Răng sứ trên Implant Cera SuperBright + Công nghệ SwiftPerfect&quot;}">Răng sứ trên Implant Cera SuperBright + Công nghệ SwiftPerfect</td>
                        <td style="text-align: center; height: 24px; width: 10.9091%;">Răng</td>
                        <td style="height: 24px; width: 18.6667%;"><strong>8.400.000</strong></td>
                    </tr>
                    <tr style="height: 65px;">
                        <td style="height: 65px; width: 98.7879%;" colspan="3">
                            <h3><span class="ez-toc-section" id="NIENG_RANG"></span>NIỀNG RĂNG<span class="ez-toc-section-end"></span></h3>
                        </td>
                    </tr>

                    <tr style="height: 48px;">
                        <td style="height: 48px; width: 69.2121%;">Niềng răng mắc cài kim loại có khóa – Đơn giản + Công nghệ Optimal Align</td>
                        <td style="text-align: center; height: 48px; width: 10.9091%;">Liệu trình</td>
                        <td style="height: 48px; width: 18.6667%;"><strong>40.000.000</strong></td>
                    </tr>

                    <tr style="height: 48px;">
                        <td style="height: 48px; width: 69.2121%;">Niềng răng Invisalign – Đơn giản + Công nghệ Optimal Align</td>
                        <td style="text-align: center; height: 48px; width: 10.9091%;">Liệu trình</td>
                        <td style="height: 48px; width: 18.6667%;"><strong>34.000.000</strong></td>
                    </tr>
                    <tr style="height: 48px;">
                        <td style="height: 48px; width: 69.2121%;">Niềng răng Invisalign – Phức tạp cấp I + Công nghệ Optimal Align</td>
                        <td style="text-align: center; height: 48px; width: 10.9091%;">Liệu trình</td>
                        <td style="height: 48px; width: 18.6667%;"><strong>67.000.000</strong></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <p style="text-align: right;"><em>(*) Giá đã bao gồm VAT áp dụng từ ngày 01/06/2023</em></p>


    </div>
</div>
<!-- Price End -->
