@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h2 class="text-primary display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            DỊCH VỤ
        </h2>

    </div>
</div>
<!-- Header End -->
<!-- Services Start -->

<div class="row">
    <article class="col-md-4 p-2 col-sm-4 col-6">
        <div class="card shadow mb-1 br-0 transition-3d-hover">
            <a class="transition-3d-hover" title="Bọc răng sứ" href="/home/BocRangSu">
                <div class="justify-content-center d-flex">
                    <img class="img-fluid" width="232" height="150" src="https://nhakhoakim.com/wp-content/uploads/2019/05/icon-boc-rang-su-1.png" alt="Bọc răng sứ" data-src="https://nhakhoakim.com/wp-content/uploads/2019/05/icon-boc-rang-su-1.png" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <h4 class="h6 text-body mb-0 text-center py-4">Bọc răng sứ</h4>
            </a>
        </div>
    </article>
    <article class="col-md-4 p-2 col-sm-4 col-6">
        <div class="card shadow mb-1 br-0 transition-3d-hover">
            <a class="transition-3d-hover" title="Cấy ghép implant" href="/home/Implant">
                <div class="justify-content-center d-flex">
                    <img class="img-fluid" width="232" height="150" src="https://nhakhoakim.com/wp-content/uploads/2019/05/trong-rang-implant.png" alt="Cấy ghép implant" data-src="https://nhakhoakim.com/wp-content/uploads/2019/05/trong-rang-implant.png" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <h4 class="h6 text-body mb-0 text-center py-4">Cấy ghép implant</h4>
            </a>
        </div>
    </article>
    <article class="col-md-4 p-2 col-sm-4 col-6">
        <div class="card shadow mb-1 br-0 transition-3d-hover">
            <a class="transition-3d-hover" title="Niềng răng thẩm mỹ" href="/home/NiengRang">
                <div class="justify-content-center d-flex">
                    <img class="img-fluid" width="232" height="150" src="https://nhakhoakim.com/wp-content/uploads/2019/05/nieng-rang-tham-my.png" alt="Niềng răng thẩm mỹ" data-src="https://nhakhoakim.com/wp-content/uploads/2019/05/nieng-rang-tham-my.png" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <h4 class="h6 text-body mb-0 text-center py-4">Niềng răng thẩm mỹ</h4>
            </a>
        </div>
    </article>
    <article class="col-md-4 p-2 col-sm-4 col-6">
        <div class="card shadow mb-1 br-0 transition-3d-hover">
            <a class="transition-3d-hover" title="Mặt dán sứ Veneer" href="/home/Veneer">
                <div class="justify-content-center d-flex">
                    <img class="img-fluid" width="232" height="150" src="https://nhakhoakim.com/wp-content/uploads/2019/05/rang-su-veneer.png" alt="Mặt dán sứ Veneer" data-src="https://nhakhoakim.com/wp-content/uploads/2019/05/rang-su-veneer.png" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <h4 class="h6 text-body mb-0 text-center py-4">Mặt dán sứ Veneer</h4>
            </a>
        </div>
    </article>
    <article class="col-md-4 p-2 col-sm-4 col-6">
        <div class="card shadow mb-1 br-0 transition-3d-hover">
            <a class="transition-3d-hover" title="Tẩy trắng răng" href="/home/TayTrang">
                <div class="justify-content-center d-flex">
                    <img class="img-fluid" width="232" height="150" src="https://nhakhoakim.com/wp-content/uploads/2019/05/icon-tay-trang-rang-1.png" alt="Tẩy trắng răng" data-src="https://nhakhoakim.com/wp-content/uploads/2019/05/icon-tay-trang-rang-1.png" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <h4 class="h6 text-body mb-0 text-center py-4">Tẩy trắng răng</h4>
            </a>
        </div>
    </article>
    <article class="col-md-4 p-2 col-sm-4 col-6">
        <div class="card shadow mb-1 br-0 transition-3d-hover">
            <a class="transition-3d-hover" title="Nhổ răng khôn" href="/home/NhoRang">
                <div class="justify-content-center d-flex">
                    <img class="img-fluid" width="232" height="150" src="https://nhakhoakim.com/wp-content/uploads/2019/05/icon-nho-rang-khon-1.png" alt="Nhổ răng khôn" data-src="https://nhakhoakim.com/wp-content/uploads/2019/05/icon-nho-rang-khon-1.png" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <h4 class="h6 text-body mb-0 text-center py-4">Nhổ răng khôn</h4>
            </a>
        </div>
    </article>
    <article class="col-md-4 p-2 col-sm-4 col-6">
        <div class="card shadow mb-1 br-0 transition-3d-hover">
            <a class="transition-3d-hover" title="Bệnh lý nha chu" href="/home/NhaChu">
                <div class="justify-content-center d-flex">
                    <img class="img-fluid" width="232" height="150" src="https://nhakhoakim.com/wp-content/uploads/2019/05/icon-benh-ly-nha-chu.png" alt="Bệnh lý nha chu" data-src="https://nhakhoakim.com/wp-content/uploads/2019/05/icon-benh-ly-nha-chu.png" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <h4 class="h6 text-body mb-0 text-center py-4">Bệnh lý nha chu</h4>
            </a>
        </div>
    </article>
    <article class="col-md-4 p-2 col-sm-4 col-6">
        <div class="card shadow mb-1 br-0 transition-3d-hover">
            <a class="transition-3d-hover" title="Điều trị tủy" href="/home/Tuy">
                <div class="justify-content-center d-flex">
                    <img class="img-fluid" width="232" height="150" src="https://nhakhoakim.com/wp-content/uploads/2019/05/dieu-tri-tuy.png" alt="Điều trị tủy" data-src="https://nhakhoakim.com/wp-content/uploads/2019/05/dieu-tri-tuy.png" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <h4 class="h6 text-body mb-0 text-center py-4">Điều trị tủy</h4>
            </a>
        </div>
    </article>
    <article class="col-md-4 p-2 col-sm-4 col-6">
        <div class="card shadow mb-1 br-0 transition-3d-hover">
            <a class="transition-3d-hover" title="Hàn trám răng" href="/home/TramRang">
                <div class="justify-content-center d-flex">
                    <img class="img-fluid" width="232" height="150" src="https://nhakhoakim.com/wp-content/uploads/2021/11/icon-han-tram-rang-sau-01.png" alt="Hàn trám răng" data-src="https://nhakhoakim.com/wp-content/uploads/2021/11/icon-han-tram-rang-sau-01.png" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <h4 class="h6 text-body mb-0 text-center py-4">Hàn trám răng</h4>
            </a>
        </div>
    </article>
    <article class="col-md-4 p-2 col-sm-4 col-6">
        <div class="card shadow mb-1 br-0 transition-3d-hover">
            <a class="transition-3d-hover" title="Chăm sóc răng miệng cho thai phụ" href="/home/ThaiPhu">
                <div class="justify-content-center d-flex">
                    <img class="img-fluid" width="232" height="150" src="https://nhakhoakim.com/wp-content/uploads/2019/05/Icon_Web-08.png" alt="Chăm sóc răng miệng cho thai phụ" data-src="https://nhakhoakim.com/wp-content/uploads/2019/05/Icon_Web-08.png" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </div>
                <h4 class="h6 text-body mb-0 text-center py-4">Chăm sóc răng miệng cho thai phụ</h4>
            </a>
        </div>
    </article>
</div>




<!-- Services End-->
