@{
    ViewBag.Title = "Team";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h3 class="text-primary display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">
            Đội ngũ bác sĩ</h1>
            <div class="position-relative justify-content-center align-content-center align-items-center mx-auto show-desktop hide-mobile">
                <a target="_blank" title="[Top Banner] Nha Khoa Kim – Đối tác toàn cầu của Đại học Harvard" href="https://nhakhoakim.com/uu-dai-nieng-rang">
                    <img width="1920" height="520" src="https://nhakhoakim.com/wp-content/uploads/2023/05/BannerWebHV-PC.jpg" alt="[Top Banner Desktop] Nha Khoa Kim – Đối tác toàn cầu của Đại học Harvard" class="w-100 img-fluid" data-src="https://nhakhoakim.com/wp-content/uploads/2024/05/Banner-uu-dai-nieng-rang-t5.24-pc.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                </a>
            </div>
            <ol class="breadcrumb justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
                <li class="breadcrumb-item"><a href="/home/index">Home</a></li>
                <li class="breadcrumb-item active text-primary">Team</li>
            </ol>
    </div>
</div>
<!-- Header End -->
<!-- Team Start -->
<div class="container-fluid team py-5">
    <div class="container py-5">

        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">

            <h3 class="display-3 mb-4">ĐỘI NGŨ BÁC SĨ NHA KHOA KIM</h3>
            <p style="color:black" class="text-justify text-sologan">Nha Khoa Kim quy tụ hơn 150 bác sĩ có chứng chỉ hành nghề, nhiều năm kinh nghiệm, tốt nghiệp Răng Hàm Mặt trong và ngoài nước, đã từng học tập cũng như tu nghiệp nhiều năm tại các nước có nền nha khoa phát triển bậc trên thế giới.</p>
            <p style="color:black" class="text-justify text-sologan">Đội ngũ bác sĩ của Nha khoa Kim thường xuyên được cập nhật kiến thức chuyên môn, đào tạo liên tục thông qua các khóa tập huấn, hội nghị khoa học, chuyển giao công nghệ… để áp dụng các thành tựu y học mới, kỹ thuật thẩm mỹ răng tiên tiến vào thực tiễn điều trị phục vụ nhu cầu chăm sóc, điều trị ngày càng cao của người dân.</p>
            <p style="color:black" class="text-justify text-sologan">Với kiến thức chuyên môn vững vàng cùng đôi bàn tay khéo léo, tận tâm với nghề, luôn áp dụng theo quy trình chuẩn quốc tế, các bác sĩ luôn mang đến kết quả tốt cho khách hàng.</p>
            <div id="attachment_37941" class="wp-caption aligncenter"><img aria-describedby="caption-attachment-37941" loading="lazy" class="wp-image-37941 size-full img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled.jpg" alt="Hơn 150 Bác sĩ Nha Khoa Kim uy tín hàng đầu, điều trị nhẹ nhàng, chính xác, tận tâm, luôn cập nhập nhập kiến thức từ nền y tế tiến bộ thế giới" width="2560" height="672" srcset="https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-scaled.jpg 2560w, https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-768x202.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2021/10/BannerBS-6x-update-04.10.21-555x146.jpg 555w" sizes="(max-width: 2560px) 100vw, 2560px"><p id="caption-attachment-37941" class="wp-caption-text">Hơn 150 Bác sĩ Nha Khoa Kim uy tín hàng đầu, điều trị nhẹ nhàng, chính xác, tận tâm, luôn cập nhập nhập kiến thức từ nền y tế tiến bộ thế giới</p></div>
        </div>

        <div class="container space-top-2">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <h6 class="color-yellow-default h2 font-weight-bold text-center-576">Bác sĩ Nguyễn Hữu Nam</h6>
                    <ul class="pl-lg-3 text-justify">
                        <li class="mb-2">Công tác tại Khoa Phẫu thuật Hàm mặt thuộc Bệnh viện Răng Hàm Mặt TW Tp.HCM 2000-2010</li>
                        <li class="mb-2">Giảng viên Răng Hàm Mặt Đại Học Quốc Tế Hồng Bàng</li>
                        <li class="mb-2">Phó Trưởng Bộ môn Y học miệng - Răng hàm mặt tổng quát Khoa Răng Hàm Mặt Đại Học Nguyễn Tất Thành</li>
                        <li class="mb-2">Thạc sĩ chuyên ngành Răng Hàm Mặt tại trường Đại học Răng Hàm Mặt Hà Nội</li>
                        <li class="mb-2">Nghiên cứu sinh Viện Nghiên Cứu Lâm Sàng 108</li>
                        <li class="mb-2">Hoàn thành chương trình đào tạo Nha Khoa tại Monash Medical Center (Úc) 2014 theo quyết định của Bộ Y Tế</li>
                        <li class="mb-2">Thành viên danh dự nha sĩ quốc tế ICD</li>
                        <li class="mb-2">Giám đốc Bệnh viện KimHospital</li>
                        <li class="mb-2">Chủ tịch hệ thống Nha Khoa Kim</li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 order-first order-md-last">
                    <img class="img-fluid lazy-load" width="1066" height="1054" src="https://nhakhoakim.com/wp-content/uploads/2024/03/bs-nguyenhuunam.png" alt="Bác sĩ Nguyễn Hữu Nam">
                </div>
            </div>
        </div>


        <div class="bg-light doctor-featured">
            <div class="container space-1">
                <div class="row row-x-30-1200">
                    <div class="col-sm-12 col-md-6 col-lg-6 space-lg-1 space-md-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h6 class="color-blue-default h6 font-weight-700 text-center-576">Bs Huỳnh Hà Thúy Hằng</h6>
                                <ul>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Tốt nghiệp Bác sĩ RHM trường Đại Học Y Cần Thơ 2002-2008, chứng chỉ Chỉnh Nha bv Răng Hàm Mặt Tp HCM&quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">Tốt nghiệp Bác sĩ Răng Hàm Mặt Đại Học Y Cần Thơ</span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Tốt nghiệp Bác sĩ RHM trường Đại Học Y Cần Thơ 2002-2008, chứng chỉ Chỉnh Nha bv Răng Hàm Mặt Tp HCM&quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">Chứng chỉ chỉnh nha Bệnh viện Răng Hàm Mặt TP.HCM</span></li>
                                    <li>Hoàn thành khóa đào tạo nâng cao chỉnh nha và Invisalign của Mỹ</li>
                                    <li>Hoàn thành khóa đào tạo chỉnh nha của Đại học Georgia Health Science University</li>
                                    <li>Hơn 14 năm kinh nghiệm niềng răng, nắn chỉnh răng</li>
                                </ul>
                            </div>
                            <div class="order-first order-md-last col-sm-12 col-md-6 col-lg-6 text-center">
                                <img class="img-fluid mx-auto lazy-load" width="219" height="335" src="https://nhakhoakim.com/wp-content/uploads/2018/01/Huynh-Ha-Thuy-Hang-3.jpg" alt="Bs Huỳnh Hà Thúy Hằng" data-src="https://nhakhoakim.com/wp-content/uploads/2018/01/Huynh-Ha-Thuy-Hang-3.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 space-lg-1 space-md-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h6 class="color-blue-default h6 font-weight-700 text-center-576">Bs Trần Chí Oai</h6>
                                <ul>
                                    <li>Tốt nghiệp Khoa Răng Hàm Mặt - Đại học Y Dược TP.HCM.</li>
                                    <li>Chuyên gia chỉnh hình hàm mặt.</li>
                                    <li>Tham gia đào tạo cho các bác sĩ chỉnh nha</li>
                                    <li>Trưởng ban chỉnh nha Nha Khoa Kim</li>
                                    <li>17 năm kinh nghiệm trong lĩnh vực nha khoa.</li>
                                </ul>
                            </div>
                            <div class="order-first order-md-last col-sm-12 col-md-6 col-lg-6 text-center">
                                <img class="img-fluid mx-auto lazy-load" width="500" height="700" src="https://nhakhoakim.com/wp-content/uploads/2019/05/Oai.jpg" alt="Bs Trần Chí Oai" data-src="https://nhakhoakim.com/wp-content/uploads/2019/05/Oai.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 space-lg-1 space-md-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h6 class="color-blue-default h6 font-weight-700 text-center-576">Bs Huỳnh Ngọc Dung Hiền</h6>
                                <ul>
                                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Tốt nghiệp Bác sĩ Y khoa trường Đại học Y Dược khoá 2004-2010</span></li>
                                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Bác sĩ Chuyên khoa I chuyên ngành Răng-Hàm-Mặt khoá 2013-201</span></li>
                                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Chứng chỉ Implant năm 2015</span></li>
                                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Chứng chỉ Chỉnh Hình Răng Mặt năm 2018</span></li>
                                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Bác sĩ quản lý khu vực 6 phòng khám - Phó ban Phục Hình - Nha Khoa KIM</span></li>
                                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Ngày gia nhập NKK: Tháng 4/2016</span></li>
                                    <li aria-level="1">Kinh nghiệm đến 2022: 12 năm</li>
                                </ul>
                            </div>
                            <div class="order-first order-md-last col-sm-12 col-md-6 col-lg-6 text-center">
                                <img class="img-fluid mx-auto lazy-load" width="509" height="512" src="https://nhakhoakim.com/wp-content/uploads/2022/07/bsHiennhakhoaKim.jpg" alt="Bs Huỳnh Ngọc Dung Hiền" data-src="https://nhakhoakim.com/wp-content/uploads/2022/07/bsHiennhakhoaKim.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 space-lg-1 space-md-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h6 class="color-blue-default h6 font-weight-700 text-center-576">Bs Lâm Vĩnh Phúc</h6>
                                <ul>
                                    <li>Trưởng Ban Implant của Hệ thống Nha Khoa Kim</li>
                                    <li>Tốt nghiệp Bác sĩ Răng Hàm Mặt trường Đại học Y Dược TP.HCM</li>
                                    <li style="text-align: justify;">Trước đây là Bác sĩ Nội trú Phẫu thuật hàm mặt tại Khoa Phẫu thuật hàm mặt Bệnh viện Răng Hàm Mặt Trung Ương TP.HCM</li>
                                    <li style="text-align: justify;">Thạc sĩ Y khoa Chuyên ngành Phẫu thuật răng hàm mặt – Implant tại Đại học Munster (Đức)</li>
                                    <li style="text-align: justify;">Thành viên Hội Phẫu thuật hàm mặt Thế giới</li>
                                </ul>
                            </div>
                            <div class="order-first order-md-last col-sm-12 col-md-6 col-lg-6 text-center">
                                <img class="img-fluid mx-auto lazy-load" width="219" height="335" src="https://nhakhoakim.com/wp-content/uploads/2019/07/Lam-Vinh-Phuc-01.jpg" alt="Bs Lâm Vĩnh Phúc" data-src="https://nhakhoakim.com/wp-content/uploads/2019/07/Lam-Vinh-Phuc-01.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 space-lg-1 space-md-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h6 class="color-blue-default h6 font-weight-700 text-center-576">Bs Lê Thị Thuỳ Dung</h6>
                                <ul>
                                    <li aria-level="1">Tốt nghiệp Bác sĩ Răng-Hàm-Mặt trường Đại học Y Dược TP.HCM khoá 2004-2010</li>
                                    <li aria-level="1">Giảng viên RHM Đại Học Quốc Tế Hồng Bàng</li>
                                    <li aria-level="1">Thạc sĩ chuyên ngành Răng-Hàm-Mặt tại trường Đại học Y Dược TP. HCM khoá 2011-2013</li>
                                    <li aria-level="1">Tốt nghiệp loại giỏi</li>
                                    <li aria-level="1">Trưởng ban đào tạo Nha Khoa Kim</li>
                                    <li aria-level="1">Chứng chỉ Chỉnh Hình Răng Mặt&nbsp;&nbsp;</li>
                                    <li aria-level="1">Ngày gia nhập NKK: Tháng 6/2019</li>
                                    <li aria-level="1">Kinh Nghiệm đến năm 2022: 12 năm</li>
                                </ul>
                            </div>
                            <div class="order-first order-md-last col-sm-12 col-md-6 col-lg-6 text-center">
                                <img class="img-fluid mx-auto lazy-load" width="320" height="512" src="https://nhakhoakim.com/wp-content/uploads/2022/07/dungbsnhakhoakim.jpg" alt="Bs Lê Thị Thuỳ Dung" data-src="https://nhakhoakim.com/wp-content/uploads/2022/07/dungbsnhakhoakim.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 space-lg-1 space-md-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h6 class="color-blue-default h6 font-weight-700 text-center-576">Bs Nguyễn Minh Thư</h6>
                                <ul>
                                    <li>Tốt nghiệp trường Đại học Y Dược</li>
                                    <li>Chứng chỉ cấy ghép nha khoa của trường Đại học Y Dược TP.HCM</li>
                                    <li>Chứng chỉ chỉnh nha, chỉnh hình răng mặt tại Bệnh viện Răng hàm mặt TP.HCM</li>
                                    <li>Chứng chỉ phẫu thuật nha chu</li>
                                </ul>
                            </div>
                            <div class="order-first order-md-last col-sm-12 col-md-6 col-lg-6 text-center">
                                <img class="img-fluid mx-auto lazy-load" width="219" height="335" src="https://nhakhoakim.com/wp-content/uploads/2019/07/Nguyen-Minh-Thu-15.jpg" alt="Bs Nguyễn Minh Thư" data-src="https://nhakhoakim.com/wp-content/uploads/2019/07/Nguyen-Minh-Thu-15.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 space-lg-1 space-md-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h6 class="color-blue-default h6 font-weight-700 text-center-576">Bs Phạm Xuân Giang Việt</h6>
                                <ul>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Tốt nghiệp bác sĩ RHM ĐHYD TPHCM 2015\nChứng chỉ Cấy ghép Implant nha khoa ĐHYD TPHCM\nChứng chỉ ứng dụng Piezotome trong phẫu thuật nâng xoang của WAUPS và BIIC tại Thái Lan\n&quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">Tốt nghiệp Bác sĩ Răng Hàm Mặt Đại học Y Dược TP.HCM</span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Tốt nghiệp bác sĩ RHM ĐHYD TPHCM 2015\nChứng chỉ Cấy ghép Implant nha khoa ĐHYD TPHCM\nChứng chỉ ứng dụng Piezotome trong phẫu thuật nâng xoang của WAUPS và BIIC tại Thái Lan\n&quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">Chứng chỉ cấy ghép Implant nha khoa Đại học Y Dược TP.HCM</span></li>
                                    <li>
                                        <span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Tốt nghiệp bác sĩ RHM ĐHYD TPHCM 2015\nChứng chỉ Cấy ghép Implant nha khoa ĐHYD TPHCM\nChứng chỉ ứng dụng Piezotome trong phẫu thuật nâng xoang của WAUPS và BIIC tại Thái Lan\n&quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">
                                            Chứng chỉ ứng dụng Piezotome trong phẫu thuật nâng xoang của WAUPS và BIIC tại Thái Lan<br>
                                        </span>
                                    </li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Chẩn đoán điều trị RHM tổng quát\nChỉnh nha cơ bản\nChuyên sâu cấy ghép implant, phẫu thuật miệng\nPhục hình răng sứ thẩm mỹ&quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">Chuyên sâu cấy ghép implant, phẫu thuật miệng, phục hình răng sứ thẩm mỹ</span></li>
                                </ul>
                            </div>
                            <div class="order-first order-md-last col-sm-12 col-md-6 col-lg-6 text-center">
                                <img class="img-fluid mx-auto lazy-load" width="219" height="335" src="https://nhakhoakim.com/wp-content/uploads/2020/05/Pham-Xuan-Giang-Viet-2.jpg" alt="Bs Phạm Xuân Giang Việt">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 space-lg-1 space-md-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h6 class="color-blue-default h6 font-weight-700 text-center-576">Ths.Bs Nguyễn Thị Minh Tâm</h6>
                                <ul>
                                    <li>Tốt nghiệp Khoa Răng Hàm Mặt - ĐH Y Dược TP.HCM.</li>
                                    <li>Hoàn thành chương trình DIU implant và phục hình, phẫu thuật nha chu.</li>
                                    <li>Hơn 6 năm kinh nghiệm.</li>
                                </ul>
                            </div>
                            <div class="order-first order-md-last col-sm-12 col-md-6 col-lg-6 text-center">
                                <img class="img-fluid mx-auto lazy-load" width="500" height="700" src="https://nhakhoakim.com/wp-content/uploads/2019/05/MinhTam.jpg" alt="Ths.Bs Nguyễn Thị Minh Tâm">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 space-lg-1 space-md-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h6 class="color-blue-default h6 font-weight-700 text-center-576">Ths.Bs Lê Nguyễn Thanh Tâm</h6>
                                <ul>
                                    <li>Trưởng Ban Phục hình Sứ - Phó chủ tịch Hội đồng Y khoa - Trợ lý Giám đốc vận hành Y khoa</li>
                                    <li class="p1">Tốt nghiệp loại Giỏi Đại học Y Khoa Quảng Tây, Trung Quốc khoá 2004 - 2010</li>
                                    <li class="p1">Thạc sĩ chuyên ngành Răng - Hàm - Mặt Đại học Y Hà Nội khoá 2014 - 2016</li>
                                    <li>Chứng chỉ cấy ghép nha khoa Đại học Y Dược TP.HCM</li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Tốt nghiệp ĐH Y Khoa Quảng Tây Trung Quốc - 2010\nTốt nghiệp Thạc sỹ Đại học Y Hà Nội - 2016\nChứng chỉ cấy ghép implant nha khoa- Trường ĐH Y dược HCM - 2018\nChứng nhận lớp implant nâng cao - Nha khoa Kim -2019\nChứng nhận chỉnh nha Clear Aligner Master\nChứng nhận Mặt dán sứ thẩm mỹ của Ivoclar vivadent\nChứng nhận lớp Veneer nâng cao - Nha khoa Kim- 2019&quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">Chứng nhận mặt dán sứ thẩm mỹ của Ivoclar Vivadent</span></li>
                                    <li><span data-sheets-value="{&quot;1&quot;:2,&quot;2&quot;:&quot;Tốt nghiệp ĐH Y Khoa Quảng Tây Trung Quốc - 2010\nTốt nghiệp Thạc sỹ Đại học Y Hà Nội - 2016\nChứng chỉ cấy ghép implant nha khoa- Trường ĐH Y dược HCM - 2018\nChứng nhận lớp implant nâng cao - Nha khoa Kim -2019\nChứng nhận chỉnh nha Clear Aligner Master\nChứng nhận Mặt dán sứ thẩm mỹ của Ivoclar vivadent\nChứng nhận lớp Veneer nâng cao - Nha khoa Kim- 2019&quot;}" data-sheets-userformat="{&quot;2&quot;:513,&quot;3&quot;:{&quot;1&quot;:0},&quot;12&quot;:0}">Chứng nhận chỉnh nha Clear Aligner Master</span></li>
                                    <li class="p1">Chứng chỉ Implant nâng cao Nha Khoa Kim</li>
                                    <li class="p1">Chứng chỉ tiêm Botulinum Toxin trong thẩm mỹ Bệnh viện da liễu TP.HCM</li>
                                    <li class="p1">Kinh nghiệm công tác: Hơn 12 năm trong lĩnh vực phục hình sứ thẩm mỹ</li>
                                </ul>
                            </div>
                            <div class="order-first order-md-last col-sm-12 col-md-6 col-lg-6 text-center">
                                <img class="img-fluid mx-auto lazy-load" width="219" height="335" src="https://nhakhoakim.com/wp-content/uploads/2020/05/Bac-Le-Nguyen-Thanh-Tam-15.jpg" alt="Ths.Bs Lê Nguyễn Thanh Tâm">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 space-lg-1 space-md-1">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h6 class="color-blue-default h6 font-weight-700 text-center-576">Bs Trần Thị Ngọc Thư</h6>
                                <ul>
                                    <li>Tốt nghiệp bác sĩ RHM khóa 2005-2011</li>
                                    <li>Kinh nghiệm công tác đến năm 2022: 11 năm</li>
                                </ul>
                            </div>
                            <div class="order-first order-md-last col-sm-12 col-md-6 col-lg-6 text-center">
                                <img class="img-fluid mx-auto lazy-load" width="219" height="335" src="https://nhakhoakim.com/wp-content/uploads/2020/07/Tran-Thi-Ngoc-Thu-14.jpg" alt="Bs Trần Thị Ngọc Thư">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
