@{
    ViewBag.Title = "Tuy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container space-1">
    <div class="row">
        <!-- ====================== POST CONTENT ================= -->
        <div class="col-lg-9 col-sm-12 column-page col-xs-12" id="post-content">
            <h1 class="font-weight-normal h2 color-yellow-default z-post-title">Điều trị tủy răng an toàn, bảo tồn răng thật</h1>
            <!--div class="post-date"></div-->
            <div id="post-content-mdetail" class="post-content">
                <p style="text-align: justify;"><span style="font-size: 16px;"><em>Tủy răng đóng vai trò quan trọng trong việc nuôi dưỡng răng chắc khỏe. Thế nên, chúng ta cần điều trị tủy răng kịp thời để tránh những hậu quả ảnh hưởng đến sức khỏe răng miệng.</em></span></p>
                <div id="ez-toc-container" class="ez-toc-v2_0_66_1 ez-toc-wrap-left counter-hierarchy ez-toc-counter ez-toc-custom ez-toc-container-direction">
                    <p class="ez-toc-title">Nội Dung Chính</p>
                    <label for="ez-toc-cssicon-toggle-item-6650428a4c5fb" class="ez-toc-cssicon-toggle-label"><span class=""><span class="eztoc-hide" style="display:none;">Toggle</span><span class="ez-toc-icon-toggle-span"><svg style="fill: #1e73be;color:#1e73be" xmlns="http://www.w3.org/2000/svg" class="list-377408" width="20px" height="20px" viewBox="0 0 24 24" fill="none"><path d="M6 6H4v2h2V6zm14 0H8v2h12V6zM4 11h2v2H4v-2zm16 0H8v2h12v-2zM4 16h2v2H4v-2zm16 0H8v2h12v-2z" fill="currentColor"></path></svg><svg style="fill: #1e73be;color:#1e73be" class="arrow-unsorted-368013" xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="0 0 24 24" version="1.2" baseProfile="tiny"><path d="M18.2 9.3l-6.2-6.3-6.2 6.3c-.2.2-.3.4-.3.7s.1.5.3.7c.2.2.4.3.7.3h11c.3 0 .5-.1.7-.3.2-.2.3-.5.3-.7s-.1-.5-.3-.7zM5.8 14.7l6.2 6.3 6.2-6.3c.2-.2.3-.5.3-.7s-.1-.5-.3-.7c-.2-.2-.4-.3-.7-.3h-11c-.3 0-.5.1-.7.3-.2.2-.3.5-.3.7s.1.5.3.7z"></path></svg></span></span></label><input type="checkbox" id="ez-toc-cssicon-toggle-item-6650428a4c5fb" aria-label="Toggle"><nav><ul class="ez-toc-list ez-toc-list-level-1"><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-1" href="#Tuy_rang_la_gi" title="Tủy răng là gì?">Tủy răng là gì?</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-2" href="#Nguyen_nhan_cua_viem_tuy_rang" title="Nguyên nhân của viêm tủy răng?&nbsp;">Nguyên nhân của viêm tủy răng?&nbsp;</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-3" href="#Dieu_tri_tuy_rang_co_tac_dung_gi" title="Điều trị tủy răng có tác dụng gì?">Điều trị tủy răng có tác dụng gì?</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-4" href="#Dieu_tri_tuy_rang_co_dau_khong" title="Điều trị tủy răng có đau không?">Điều trị tủy răng có đau không?</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-5" href="#Quy_trinh_dieu_tri_viem_tuy_rang_an_toan_tai_Nha_Khoa_Kim" title="Quy trình điều trị viêm tủy răng an toàn tại Nha Khoa Kim">Quy trình điều trị viêm tủy răng an toàn tại Nha Khoa Kim</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-6" href="#Dieu_tri_tuy_an_toan_tai_Nha_Khoa_Kim" title="Điều trị tủy an toàn tại Nha Khoa Kim">Điều trị tủy an toàn tại Nha Khoa Kim</a></li><li class="ez-toc-page-1 ez-toc-heading-level-2"><a class="ez-toc-link ez-toc-heading-7" href="#Bang_gia_dieu_tri_tuy_tai_Nha_Khoa_Kim" title="Bảng giá điều trị tủy tại Nha Khoa Kim">Bảng giá điều trị tủy tại Nha Khoa Kim</a></li></ul></nav>
                </div>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Tuy_rang_la_gi"></span><span style="font-size: 24px;"><strong><span style="color: #ff9900;">Tủy răng là gì?</span></strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Tủy răng chứa nhiều dây thần kinh và mạch máu có ở cả thân răng và chân răng (gọi là buồng tủy và ống tủy) nằm trong hốc giữa ngà răng.</span></p>
                <p style="text-align: justify;"><span style="font-weight: 400;">Tủy răng có chức năng nuôi dưỡng toàn bộ các thành phần sống của phức hợp tủy – ngà; góp phần trong quá trình tái tạo ngà răng và đáp ứng miễn dịch giúp duy trì sự sống của răng…</span></p>
                <p style="text-align: center;"><img fetchpriority="high" decoding="async" class="wp-image-45738 aligncenter img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-1.jpg" alt="điều trị tủy răng an toàn tại Nha Khoa Kim" width="700" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-1.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-1.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-1-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-1-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-1-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-1.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-1-768x548.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-1-555x396.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-1-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Tủy răng đóng vai trò quan trọng trong việc nuôi dưỡng răng chắc khỏe</em></span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Nguyen_nhan_cua_viem_tuy_rang"></span><span style="font-size: 24px; color: #ff9900;"><strong>Nguyên nhân của viêm tủy răng?&nbsp;</strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Tủy răng bị viêm, hư tổn là một dạng bệnh lý phổ biến ở răng miệng do một trong các nguyên nhân sau gây ra:</span></p>
                <ul style="text-align: justify;">
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Răng bị mẻ vỡ, nứt gãy.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Răng bị vi khuẩn xâm hại, sâu răng lâu ngày không được điều trị.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Các răng bị chấn thương bị đứt mạch máu nuôi tủy răng.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Những răng bị mòn, viêm quanh răng.</span></li>
                </ul>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Dieu_tri_tuy_rang_co_tac_dung_gi"></span><span style="font-size: 24px;"><strong><span style="color: #ff9900;">Điều trị tủy răng có tác dụng gì?</span></strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Trong cấu trúc răng, tủy răng đóng vai trò rất quan trọng là cung cấp dinh dưỡng nuôi sống và giúp răng luôn vững chắc, và khi tủy răng bị viêm nếu không được điều trị kịp thời gây ra nhiều hậu quả nghiêm trọng đối với sức khỏe của bạn. Điều trị tủy sớm sẽ giúp khách hàng:</span></p>
                <ul style="text-align: justify;">
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Kịp thời tránh những cơn đau nhức khó chịu ảnh hưởng đến sức khỏe, ổn định khả năng ăn nhai.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Ngăn chặn tình trạng lây lan ra diện rộng gây tiêu xương và nguy cơ mất răng.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Ngăn chặn xảy ra các biến chứng nguy hiểm như viêm quanh chóp, áp xe quanh chóp, nhiễm trùng máu, gây hoại tử hàm mặt…</span></li>
                </ul>
                <p style="text-align: center;"><img decoding="async" class="wp-image-45739 aligncenter img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-3.jpg" alt="điều trị tủy răng an toàn tại Nha Khoa Kim" width="700" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-3.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-3.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-3-768x549.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-3-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-3-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-3.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-3-768x549.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-3-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/dieu-tri-tuy-rang-an-toan-tai-Nha-Khoa-Kim-3-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Điều trị tủy răng kịp thời để tránh ảnh hưởng đến sức khỏe răng miệng</em></span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Dieu_tri_tuy_rang_co_dau_khong"></span><span style="font-size: 24px; color: #ff9900;"><strong>Điều trị tủy răng có đau không?</strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Hiện nay, các nha khoa uy tín đều ứng dụng máy móc, công nghệ hiện đại vào quy trình điều trị nên việc lấy tủy răng sẽ diễn ra tương đối nhẹ nhàng và nhanh chóng.&nbsp;</span></p>
                <p style="text-align: justify;"><span style="font-weight: 400;">Trước khi lấy tủy răng, bác sĩ sẽ gây tê cục bộ ở vị trí răng tổn thương nên khách hàng sẽ không cảm thấy đau hoặc chỉ có cảm giác châm chích nhẹ trong suốt quá trình thực hiện.</span></p>
                <p style="text-align: justify;"><span style="font-weight: 400;">Khoảng 1 – 2 giờ sau khi lấy tủy răng xong, khách hàng sẽ cảm thấy hơi ê nhẹ. </span><span style="font-weight: 400;">Bác sĩ có thể chỉ định một số loại thuốc giảm đau, chống viêm để làm dịu đi cơn đau, sự khó chịu của khách hàng.</span></p>
                <p style="text-align: justify;"><span style="font-weight: 400;">Do cấu tạo của tủy răng khá phức tạp nên việc điều trị tủy đòi hỏi tay nghề chuyên môn cao của bác sĩ. Thế nên, khách hàng nên tìm địa chỉ nha khoa uy tín để đảm bảo hiệu quả cao nhất.</span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Quy_trinh_dieu_tri_viem_tuy_rang_an_toan_tai_Nha_Khoa_Kim"></span><span style="font-size: 24px; color: #ff9900;"><strong>Quy trình điều trị viêm tủy răng an toàn tại Nha Khoa Kim</strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Tại </span><span style="font-weight: 400;">Nha Khoa Kim</span><span style="font-weight: 400;"> điều trị tủy răng bằng máy được tiến hành theo quy trình khoa học, đáp ứng các yếu tố, tiêu chuẩn của Sở Y tế qua các bước cơ bản sau:</span></p>
                <p style="text-align: justify;"><strong>Bước 1: Thăm khám và chụp phim X-quang</strong></p>
                <p style="text-align: justify;"><span style="font-weight: 400;">Bác sĩ sẽ tiến hành kiểm tra tình trạng răng và chụp X-quang để đánh giá mức độ viêm nhiễm, kiểm tra chiều dài ống tủy để đưa ra phương án điều trị phù hợp.</span></p>
                <p style="text-align: justify;"><strong>Bước 2: Vệ sinh răng miệng và gây tê</strong></p>
                <p style="text-align: justify;"><span style="font-weight: 400;">Các mảng bám sẽ được loại bỏ nhằm hạn chế vi </span><span style="font-weight: 400;">khuẩn và các tác nhân khác gây nhiễm trùng răng trước khi tiến hành điều trị tủy.</span></p>
                <p style="text-align: center;"><img decoding="async" class="wp-image-45728 aligncenter img-fluid" src="https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1.jpg" alt="điều trị tủy răng an toàn tại Nha Khoa Kim" width="700" height="500" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1.jpg" data-srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-768x549.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-20x14.jpg 20w" data-sizes="(max-width: 700px) 100vw, 700px" data-style="" style="" data-l="" srcset="https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1.jpg 1459w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-768x549.jpg 768w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-555x397.jpg 555w, https://nhakhoakim.com/wp-content/uploads/2022/08/han-tram-rang-tai-Nha-Khoa-Kim-1-20x14.jpg 20w" sizes="(max-width: 700px) 100vw, 700px"><span style="font-size: 14px;"><em>Quy trình điều trị tủy răng tại Nha Khoa Kim được thực hiện một cách an toàn, chuẩn y tế</em></span></p>
                <p style="text-align: justify;"><span style="font-weight: 400;"><strong>Bước 3: Đặt đế cao su ôm sát vào răng</strong> cần hút tủy để tránh tình trạng hóa chất trong quá trình lấy tủy răng rơi vào trong dạ dày.</span></p>
                <p style="text-align: justify;"><span style="font-weight: 400;"><strong>Bước 4: Tiến hành điều trị tủy</strong>. Bác sĩ </span><span style="font-weight: 400;">sẽ tiến hành hút sạch tủy ra ngoài và bơm rửa buồng tủy.</span></p>
                <p style="text-align: justify;"><span style="font-weight: 400;"><strong>Bước 5: Trám bít ống tủy</strong>. </span><span style="font-weight: 400;">Sau khi lấy tủy răng xong, bác sĩ sẽ trám bít các khoảng trống bằng vật liệu chuyên dụng.</span></p>
                <p style="text-align: justify;"><span style="font-weight: 400;"><strong>Bước 6: Đặt lịch tái khám và hướng dẫn chăm sóc răng miệng</strong> sau khi lấy tủy răng.&nbsp;</span></p>
                <h2 style="text-align: justify;"><span class="ez-toc-section" id="Dieu_tri_tuy_an_toan_tai_Nha_Khoa_Kim"></span><span style="font-size: 24px;"><strong><span style="color: #ff9900;">Điều trị tủy an toàn tại Nha Khoa Kim</span></strong></span><span class="ez-toc-section-end"></span></h2>
                <p style="text-align: justify;"><span style="font-weight: 400;">Nha Khoa Kim là địa chỉ nha khoa uy tín  hiện nay đã giúp cho nhiều khách hàng điều trị tủy an toàn, khôi phục khả năng ăn nhai bình thường nhanh chóng, hiệu quả cao:</span></p>
                <ul style="text-align: justify;">
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Đội ngũ bác sĩ giỏi chuyên môn, có chứng chỉ hành nghề, trực tiếp thăm khám, tư vấn, điều trị giúp khách hàng an tâm, hài lòng với kết quả.&nbsp;</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Hệ thống máy móc, công nghệ chẩn đoán và điều trị hiện đại, như: máy chụp X-quang, CT Cone Beam 3D… giúp bác sĩ chẩn đoán chính xác tình trạng răng miệng, từ đó lên kế hoạch điều trị chi tiết;</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Sử dụng vật liệu chuyên dụng chất lượng, nguồn gốc rõ ràng.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Hệ thống thanh trùng trung tâm: 100% dụng cụ được tiệt trùng, mỗi khách hàng một bộ dụng cụ và phòng điều trị riêng biệt đảm bảo an toàn, chống lây nhiễm chéo.</span></li>
                    <li style="font-weight: 400;" aria-level="1"><span style="font-weight: 400;">Dịch vụ nha khoa đạt chứng nhận GCR (Hoa Kỳ) và ISO 9001:2015: Đặt lịch hẹn thăm khám tiện lợi tại tất cả hệ thống hơn 30 phòng khám Nha Khoa Kim trên toàn quốc; Đội ngũ nhân viên, bác sĩ tận tâm tư vấn, chăm sóc; Hệ thống quản lý theo dõi và chăm sóc khách hàng theo từng giai đoạn điều trị.</span></li>
                </ul>
                <h2><span class="ez-toc-section" id="Bang_gia_dieu_tri_tuy_tai_Nha_Khoa_Kim"></span><strong>Bảng giá điều trị tủy tại Nha Khoa Kim</strong><span class="ez-toc-section-end"></span></h2>
                <div class="table-responsive">
                    <table class="table format-table-price" style="width: 100.814%; height: 96px;">
                        <tbody>
                            <tr style="height: 24px; background-color: #005f9d; color: #ffffff;">
                                <td style="width: 56.6699%; text-align: center; height: 24px;"><strong>Dịch vụ</strong></td>
                                <td style="width: 13.578%; text-align: center; height: 24px;"><strong>ĐVT</strong></td>
                                <td style="width: 109.708%; text-align: center; height: 24px;"><strong>Giá dịch vụ (VNĐ)</strong></td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 56.6699%; height: 24px;">Điều trị tủy</td>
                                <td style="width: 13.578%; height: 24px; text-align: center;">Răng</td>
                                <td style="width: 109.708%; height: 24px; text-align: right;"><strong>500.000 – 2.000.000</strong></td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 56.6699%; height: 24px;">Điều trị tủy lại</td>
                                <td style="width: 13.578%; height: 24px; text-align: center;">Răng</td>
                                <td style="width: 109.708%; height: 24px; text-align: right;"><strong>2.000.000 – 3.000.000</strong></td>
                            </tr>
                            <tr style="height: 24px;">
                                <td style="width: 56.6699%; height: 24px;">Chốt sợi không kim loại mức 1-2</td>
                                <td style="width: 13.578%; height: 24px; text-align: center;">Răng</td>
                                <td style="width: 109.708%; height: 24px; text-align: right;"><strong>700.000 – 1.100.000</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p style="text-align: justify;"><span style="font-weight: 400;">Điều trị tủy răng tại Nha Khoa Kim chắc chắn sẽ giúp bạn chấm dứt các cơn đau một cách nhanh chóng, hiệu quả cao, thực hiện chức năng ăn nhai bình thường, bảo tồn răng tối đa.</span></p>
                <p style="text-align: center;">&nbsp;</p>

                <!-- THÔNG CÁO -->
                <div class="bg-blue-default text-white p-3 sologan mb-3">
                    <p style="color: black" class="text-justify text-sologan">Mỗi phòng khám thuộc hệ thống Nha Khoa Kim được Sở Y tế các tỉnh thành thẩm định các danh mục kỹ thuật khác nhau. Quý khách sẽ được thực hiện các dịch vụ theo đúng những danh mục kỹ thuật mà Sở Y tế cho phép. Những danh mục khác sẽ được thực hiện tại bệnh viện.</p>
                </div>
                <!-- TAGS -->
                <!-- FORM ĐẶT LỊCH HẸN -->
                <!--div class="form-appointment mb-6">
                          </div-->
            </div>
        </div>

        <!-- ====================== SIDEBAR ====================== -->
        <div class="col-lg-3 col-md-12">

            <!-- Sidebar BANNER -->
            <!-- Tin mới nhất -->
            <div style="position:sticky;top:90px" class="border-bottom pb-4 mb-4">
                <p class="font-size-1 font-weight-semi-bold text-uppercase mb-3">Tin mới nhất</p>
                <div class="font-size-1 text-lh-md text-secondary mb-2">
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng" href="https://nhakhoakim.com/chinh-thuc-ra-mat-zalo-app-nha-khoa-kim-voi-nhieu-tien-ich-cho-khach-hang.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2024/04/ThumbWeb-1200x628-ZaloApp-01-100x100.jpg" alt="Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng" data-src="https://nhakhoakim.com/wp-content/uploads/2024/04/ThumbWeb-1200x628-ZaloApp-01-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Chính thức ra mắt Zalo App Nha Khoa Kim với nhiều tiện ích cho khách hàng
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ" href="https://nhakhoakim.com/nha-khoa-kim-voi-doi-tac-tin-cay-invisalign-hoa-ky-va-implant-straumann-thuy-sy.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2024/01/NKK_THUMB-DOI-TAC-TIN-CAY-01-100x100.jpg" alt="Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ" data-src="https://nhakhoakim.com/wp-content/uploads/2024/01/NKK_THUMB-DOI-TAC-TIN-CAY-01-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Nha Khoa Kim đối tác tin cậy của Invisalign Hoa Kỳ và Implant Straumann Thụy Sỹ
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Nha Khoa Kim tự hào là đối tác toàn cầu của Đại học Harvard" href="https://nhakhoakim.com/nha-khoa-kim-tu-hao-la-doi-tac-toan-cau-cua-dai-hoc-harvard.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2023/05/Thumbnail-PR-100x100.jpg" alt="Nha Khoa Kim tự hào là đối tác toàn cầu của Đại học Harvard" data-src="https://nhakhoakim.com/wp-content/uploads/2023/05/Thumbnail-PR-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Nha Khoa Kim tự hào là đối tác toàn cầu của Đại học Harvard
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Những con số cực ấn tượng của Hành trình răng hạnh phúc tháng 10" href="https://nhakhoakim.com/nhung-con-so-cuc-an-tuong-cua-hanh-trinh-rang-hanh-phuc-thang-10.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2022/11/NKK_web-dental-tour-DH-KT-b-01-100x100.jpg" alt="Những con số cực ấn tượng của Hành trình răng hạnh phúc tháng 10" data-src="https://nhakhoakim.com/wp-content/uploads/2022/11/NKK_web-dental-tour-DH-KT-b-01-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Những con số cực ấn tượng của Hành trình răng hạnh phúc tháng 10
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                    <!-- Thumbnail News -->
                    <article class="card border-0 custom-control mb-3 pl-0 transition-3d-hover">
                        <div class="card-body p-0">
                            <a title="Nha Khoa Kim đầu tư Robot X-guide cấy ghép Implant công nghệ Hoa Kỳ" href="https://nhakhoakim.com/nha-khoa-kim-dau-tu-robot-x-guide-cay-ghep-implant-cong-nghe-hoa-ky.html">
                                <div class="media">
                                    <div class="u-avatar mr-3">
                                        <img width="100" height="100" class="img-fluid rounded" src="https://nhakhoakim.com/wp-content/uploads/2022/08/NKK_hinh-buoi-trao-may-xguide-thumb-100x100.jpg" alt="Nha Khoa Kim đầu tư Robot X-guide cấy ghép Implant công nghệ Hoa Kỳ" data-src="https://nhakhoakim.com/wp-content/uploads/2022/08/NKK_hinh-buoi-trao-may-xguide-thumb-100x100.jpg" data-srcset="" data-sizes="" data-style="" style="" data-l="" srcset="" sizes="">
                                    </div>
                                    <div class="media-body">
                                        <h4 class="h6 font-weight-normal mb-0 font-size-1">
                                            Nha Khoa Kim đầu tư Robot X-guide cấy ghép Implant công nghệ Hoa Kỳ
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </article>
                    <!-- End Thumbnail News -->
                </div>
            </div>
        </div>
    </div>
</div>

