<footer class="footer">
    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="~/Content/theme/img/logoNhaKhoaKim.jpg" class="img-fluid" alt="Logo" width="90" height="90">
                            <h2 class="text-white m-0" style="display: inline-block; vertical-align: middle;">Nha Khoa Kim</h2>
                        </div>
                        <div class="footer-about-content">
                            <p class="fas fa-star-of-life me-3"> Kết nối với chúng tôi</p>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/NHAKHOAKIM" target="_blank"><i class="fab fa-facebook-f"></i> </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/nhakhoakim/" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/c/NHAKHOAKIM" target="_blank"><i class="fab fa-youtube"></i> </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/nha-khoa-kim-kim-dental" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Thông tin dịch vụ</h2>
                        <ul>
                            <li><a href="/home/service">Dịch vụ</a></li>
                            <li><a href="/home/price">Bảng giá</a></li>
                            <li><a href="/home/team">Đội ngũ bác sĩ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Hỗ trợ khách hàng</h2>
                        <ul>
                            <li><a href="/home/about">Giới thiệu</a></li>
                            <li><a href="/home/contact">Liên hệ</a></li>
                            <li><a href="/appointments">Các hình thức thanh toán</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Thông tin liên hệ</h2>
                        <div class="footer-contact-info">
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p>60 Lê Văn Việt, Hiệp Phú, TP.Thủ Đức</p>
                            </div>
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p>31 Nguyễn Đình Chiểu, P.Đa Kao, Q.1</p>
                            </div>
                            <div class="footer-address">
                                <span><i class="fas fa-map-marker-alt"></i></span>
                                <p>270 Quang Trung, P.10, Q.Gò Vấp</p>
                            </div>
                            <p>
                                <i class="fas fa-phone-alt"></i>
                                1900 6899
                            </p>
                            <p class="mb-0">
                                <i class="fas fa-envelope"></i>
                                @*<a href="https://doccure-html.dreamguystech.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="91f5fef2f2e4e3f4d1f4e9f0fce1fdf4bff2fefc">[email&#160;protected]</a>*@
                                cskh@kimdental.vn
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>